main {
    padding-bottom: 20px !important;
}

body {
    padding-top: 64px;
}

@media all and (min-width: 768px) {
    header {
        position: fixed !important;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10000;
    }

    body {
        padding-top: 64px;
    }
}

@supports (-ms-ime-align:auto) {
    header {
        position: fixed !important;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10000;
    }

    body {
        padding-top: 64px;
    }
}

@keyframes ctime {
    0% {
        background-color: #1d1d1d;
    }
    100% {
        background-color: #ff0000;
    }
}

@keyframes clock {
    0% {
        background-color: #1d1d1d;
    }
    100% {
        background-color: #ffff00;
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 15px 0 rgba(80, 155, 255, 0.9);
    }
    100% {
        box-shadow: 0 0 15px 35px rgba(80, 155, 255, 0);
    }
}

.requestToSpeak {
    animation: pulse 1s infinite;
}

.timeAlert {
    animation: ctime 1s infinite alternate;
}

.clockAlert {
    animation: clock 1s infinite alternate;
}