main {
    padding-bottom: 20px !important;
}

body {
    padding-top: 64px;
}

@media all and (min-width: 768px) {
    header {
        position: fixed !important;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10000;
    }

    body {
        padding-top: 64px;
    }
}

@supports (-ms-ime-align:auto) {
    header {
        position: fixed !important;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10000;
    }

    footer {
        position: fixed !important;
        bottom: -100px;
        left: 0;
        right: 0;
        z-index: 10000;
    }

    body {
        padding-top: 64px;
    }
}

@keyframes requestToSpeakPulse {
    0% {
        box-shadow: 0 0 15px 0 rgba(80, 155, 255, 0.9);
    }
    100% {
        box-shadow: 0 0 15px 35px rgba(80, 155, 255, 0);
    }
}

.requestToSpeak {
    animation: requestToSpeakPulse 1s infinite;
}

#container {
    position: absolute;
    width: 100%;
    height: 30px;
}

#container > svg {
    width: 100%;
    display: block;
}

.rtl-progress > svg {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.wrapper {
    position: relative;
    top: -35px;
}

#timer_overlay {
    position: absolute;
    top: -5px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%)
}