<!DOCTYPE html>
{% load i18n utils %}
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="author" content="Simon Zigelli">
    <meta name="description" content="StagyBee Management Console">
    <meta name="keywords" content="StagyBee, Stage, Management, Console">
    {% load static %}
    <link rel="shortcut icon" href="{% static 'picker/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'picker/favicon.ico' %}" type="image/x-icon">

    <link href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css?ver=@@b-version" rel="stylesheet">
    <link href="{% static 'console/console.css' %}" rel="stylesheet" type="text/css">
    <title>StagyBee Management Console</title>
    <style>
        .app-bar-menu li {
            list-style: none !important;
        }
    </style>
</head>
<body class="bg-dark fg-white" onload="startTime()">
<header class="app-bar bg-dark fg-white d-flex flex-justify-between" data-role="appbar" data-role-appbar="true">
    <div class="app-bar-container float-none">
        <div class="app-bar-item pl-4 pr-4 pt-2">
            <a href="{% url 'logout' %}">
                <span class="mif-exit mif-4x" style="margin-left: 10px;"></span>
            </a>
        </div>
    </div>
    <div class="app-bar-container ml-auto">
        <div class="app-bar-item pt-1 place-right"><samp><span class="text-leader" id="currentTime"></span></samp>
        </div>
    </div>
</header>
<div class="notify-container">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
<div class="container-fluid">
    <main class="pr-1-sx pl-1-sx pr-1-md pl-1-md">
        {% block content %}
        {% endblock %}
    </main>
</div>
<script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
<script src="{% static 'picker/static/picker/time.js' %}"></script>
</body>
</html>



