<!DOCTYPE html>
{% load i18n utils %}
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="author" content="Simon Zigelli">
    <meta name="description" content="StagyBee Management Console">
    <meta name="keywords" content="StagyBee, Stage, Management, Console">
    {% load static %}
    <link rel="shortcut icon" href="{% static 'picker/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'picker/favicon.ico' %}" type="image/x-icon">

    <link href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css?ver=@@b-version" rel="stylesheet">
    <link href="{% static 'console/console.css' %}" rel="stylesheet" type="text/css">
    <title>StagyBee Management Console</title>
    <style>
        .app-bar-menu li {
            list-style: none !important;
        }
    </style>
</head>
<body class="bg-dark fg-white" onload="startTime()">
<header class="app-bar bg-dark fg-white d-flex flex-justify-between" data-role="appbar" data-role-appbar="true">
    {% get_current_language as LANGUAGE_CODE %}
    {% get_available_languages as LANGUAGES %}
    {% get_language_info_list for LANGUAGES as languages %}
    <div class="app-bar-container float-none">
        <div class="app-bar-item pl-4 pr-4">
            <a href="{% url 'console:chose_console' %}" class="brand"><span
                    class="display1">StagyBee Management Console</span></a>
        </div>
    </div>
    <div class="app-bar-container mega ml-auto">
        <div class="app-bar-container float-right">
            {% if user.is_authenticated %}
                <h6>
                    {% blocktrans with username=user.get_short_name|default:user.get_username %}
                        Willkommen, {{ username }}!{% endblocktrans %}</h6>
            {% endif %}
        </div>
        {% if no_settings|default_if_none:False == False %}
            <div class="app-bar-container float-right">
                <div class="app-bar-item pl-4 pr-4 pt-2">
                    <a href="{% url 'console:settings' %}">
                    <span class="mif-cog mif-3x" data-role="hint" data-hint-text="{% trans "Einstellungen" %}"
                          data-hint-position="bottom"></span>
                    </a>
                </div>
            </div>
        {% endif %}
        <div class="app-bar-container float-right">
            <a href="#" class="app-bar-item dropdown-toggle marker-light">
                <div class="mif-language mif-3x" data-role="hint" data-hint-text="{% trans "Sprache" %}"
                     data-hint-position="bottom"></div>
            </a>
            <ul class="d-menu p-2 bg-dark fg-white" data-role="dropdown">
                {% for lang_code, lang_name in LANGUAGES %}
                    <li class="bg-blue-hover"><a href="{% translate_url lang_code %}"><span
                            class="">{{ lang_name }}</span></a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="app-bar-container float-right">
            <div class="app-bar-item pl-4 pr-4 pt-2">
                <a href="{% url 'logout' %}">
                    <span class="mif-exit mif-3x" data-role="hint" data-hint-text="{% trans "Logout" %}"
                          data-hint-position="bottom"></span>
                </a>
            </div>
        </div>
        <div class="app-bar-item pt-1 place-right"><samp><span class="text-leader" id="currentTime"></span></samp>
        </div>
    </div>
</header>
<div class="container-fluid">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
<div class="container-fluid">
    <main class="pr-1-sx pl-1-sx pr-1-md pl-1-md">
        {% block content %}
        {% endblock %}
    </main>
</div>
<script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
<script src="{% static 'picker/time.js' %}"></script>
</body>
</html>
