<!DOCTYPE html>
{% extends 'console/base.html' %}
{% load i18n utils %}
{% load guardian_tags %}
{% block content %}
    <div>
        <div class="row mt-2">
            {% for congregation in object_list %}
                {% get_obj_perms request.user for congregation as "congregation_perms" %}
                {% if "access_console" in congregation_perms or "access_stopwatch" in congregation_perms or "access_audit_log" in congregation_perms %}
                    <div class="cell-md-6">
                    <div class="card bg-black fg-white">
                    {% if congregation.active == True %}
                        <div class="card-header bg-green fg-white">
                    {% else %}
                        <div class="card-header bg-gray fg-white">
                    {% endif %}
                <h3 class="text-bold mb-0">{{ congregation.display_name }}</h3>
                <!-- <div class="icon">
                    <span class="mif-star-full"></span>
                </div> -->
                </div>
                <div class="card-footer">
                    {% if congregation.active == True %}
                        {% if "access_console" in congregation_perms %}
                            <a href="{% url 'console:console' congregation.congregation %}">
                                <button class="button secondary">
                                    {% trans "Zur Console..." %}
                                    <span class="mif-arrow-right"></span>
                                </button>
                            </a>
                        {% endif %}
                        {% if "access_stopwatch" in congregation_perms %}
                            <a href="{% url 'console:timer' congregation.congregation %}">
                                <button class="button secondary">
                                    {% trans "Zur Stoppuhr..." %}
                                    <span class="mif-arrow-right"></span>
                                </button>
                            </a>
                        {% endif %}
                    {% endif %}
                    {% if perms.console.view_audit %}
                        {% if "access_audit_log" in congregation_perms %}
                            <a href="{% url 'console:audit' congregation.congregation %}">
                                <button class="button secondary">
                                    {% trans "Zum Audit-Log..." %}
                                    <span class="mif-arrow-right"></span>
                                </button>
                            </a>
                        {% endif %}
                    {% endif %}
                </div>
                </div>
                {% endif %}
            {% endfor %}
            </div>
            </div>
        </div>
    </div>
{% endblock %}