<!DOCTYPE html>
{% extends 'console/base.html' %}
{% load i18n utils %}
{% block content %}
    {% load static %}
    <div><h3>{% blocktrans with talk=timer_entry.talk %}Aufgabe Nr. {{ talk|default:"1" }}{% endblocktrans %}</h3></div>
    <table class="table">
        <thead>
        <tr>
            <th>
                <div class="fg-white text-center">{% trans "Abgelaufen" %}</div>
            </th>
            <th>
                <div class="fg-white text-center">{% trans "Übrig" %}</div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>
                <div class="pt-4">
                    <samp style="font-size:72px" id="stopwatch">{{ stoppwatch|default:"00:00:00" }}</samp>
                </div>
            </th>
            <th>
                <div class="pt-4">
                    <samp style="font-size:72px" id="remaining">{{ remaining|default:"00:00:00" }}</samp>
                </div>
            </th>
        </tr>
        </tbody>
    </table>
    <div class="pt-4">
        <table class="table">
            <thead>
            <tr>
                <th class="fg-white sortable-column sort-asc">{% trans "Aufgabe" %}</th>
                <th class="fg-white">{% trans "Startzeit" %}</th>
                <th class="fg-white">{% trans "Endezeit" %}</th>
                <th class="fg-white">{% trans "Dauer" %}</th>
                <th class="fg-white">{% trans "Differenz" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for timer_entry in timer %}
                <tr>
                    <td>
                        <div>{{ timer_entry.talk }}</div>
                    </td>
                    <td>
                        <div>{{ timer_entry.start }}</div>
                    </td>
                    <td>
                        <div>{{ timer_entry.stop }}</div>
                    </td>
                    <td>
                        <div>{{ timer_entry.duration }}</div>
                    </td>
                    <td>
                        <div>{{ timer_entry.difference }}</div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.js"></script>
    <script src="{% static 'console/timer_ws.js' %}"></script>
    <script>
        timer_ws('{{ congregation_ws }}');
    </script>
    <script>
        runTimer();
    </script>
{% endblock %}
