<!DOCTYPE html>
{% extends 'base.html' %}
{% load i18n utils %}
{% block content %}
    {% trans "Versammlung wählen" as choose_congregation %}
    <div class="tiles-grid tiles-group size-{{ size }} pos-top-center"
         data-group-title="{{ choose_congregation }}">
        {% for credential in credentials %}
            <a href="{% url 'stage:stage' credential.congregation %}" data-role="tile"
               class="bg-indigo fg-white">
                <span class="pos-absolute pos-center">{{ credential.display_name }}</span>
            </a>
        {% endfor %}
        <a href="https://jwconf.org/login.php?source=index.php&" data-role="tile"
           class="bg-orange fg-white col-{{ col }}" data-size="wide">
            <span class="pos-absolute pos-center">{% trans "JWConf Login Seite" %}</span>
        </a>
    </div>
{% endblock %}
