version: '3.9'
services:
  db:
    restart: always
  redis:
    restart: always
  nginx:
    build:
      context: nginx/
    restart: always
    ports:
      - 80:80
    depends_on:
      - web
    volumes:
      - type: bind
        source: ./static
        target: /home/pyuser/static
        read_only: true
  web:
    build:
      context: app/
      dockerfile: Dockerfile.prod
    image: "stagybee/frontend:latest"
    command: bash -c "daphne -b 0.0.0.0 -p 8000 StagyBee.asgi:application"
    restart: always
    ports:
      - "127.0.0.1:8000:8000"
    volumes:
      - type: bind
        source: ./static
        target: /home/pyuser/static
