version: '3.9'
services:
  python-base:
    image: stagybee/python-base:slim
    build:
      context: python-base/
  db:
    image: postgres:13.1-alpine
    volumes:
      - type: bind
        source: ./data
        target: /var/lib/postgresql/data
    ports:
      - "127.0.0.1:5432:5432"
    env_file:
      - app/.env
  redis:
    image: redis:alpine
    ports:
      - "127.0.0.1:6379:6379"
  extractor:
    build:
      context: extractor/
      dockerfile: Dockerfile
    image: "stagybee/extractor:latest"
    restart: always
    ports:
      - "127.0.0.1:8080:8080"
  web:
    build:
      context: app/
    image: "stagybee/frontend:latest"
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - "127.0.0.1:8000:8000"
    depends_on:
      - redis
      - db
      - extractor
    volumes:
      - type: bind
        source: ./app/shutdown_signal
        target: /home/pyuser/shutdown_signal
