{% if object %}
    <div class="my-2 shadow-lg acc-header {% if forloop.first %}selected{% endif %}">
        <div class="flex flex-row justify-between items-center font-semibold p-3 cursor-pointer">
            {% if object.importance == 0 %}
                <span>{% include 'icons/quote.html' %}</span>
            {% endif %}
            {% if object.importance == 1 %}
                <span>{% include 'icons/info.html' %}</span>
            {% endif %}
            {% if object.importance == 2 %}
                <span>{% include 'icons/warning.html' %}</span>
            {% endif %}
            {% if object.importance == 3 %}
                <span class="text-red-500">{% include 'icons/cancel.html' %}</span>
            {% endif %}
            &nbsp;<span>{{ object.subject }}</span>&nbsp;<span>({{ object.create_date|date }})</span>
            {% if forloop.first %}
                {% include 'icons/chevron_down.html' with rotate=True %}
            {% else %}
                {% include 'icons/chevron_down.html' %}
            {% endif %}
        </div>
        <div class="acc-content px-4 overflow-hidden max-h-0 ease duration-500">
            {{ object.message }}
        </div>
    </div>
{% endif %}