{% load i18n %}

<table class="table-auto w-full">
    <thead>
    <tr>
        <th class="px-5 py-3 border-b-2 w-1/2 text-center text-xs font-semibold uppercase tracking-wider">{% trans "Nachricht" %}</th>
        <th class="px-5 py-3 border-b-2 w-1/6 text-center text-xs font-semibold uppercase tracking-wider">{% trans "Gültig bis" %}</th>
        <th class="px-5 py-3 border-b-2 w-1/12 text-center text-xs font-semibold uppercase tracking-wider">{% trans "Sprache der Nachricht" %}</th>
        <th class="px-5 py-3 border-b-2 w-1/12 text-center text-xs font-semibold uppercase tracking-wider">{% trans "Anzeigen für Sprache" %}</th>
        <th class="px-5 py-3 border-b-2 w-1/12 text-center text-xs font-semibold uppercase tracking-wider">{% trans "Aktiv" %}</th>
        <th class="px-5 py-3 border-b-2 w-1/12 text-center text-xs font-semibold uppercase tracking-wider">{% trans "Aktionen" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for notification in object_list %}
        <tr>
            <td class="px-5 {% if forloop.first %}pt-4{% else %}pt-2{% endif %} text-sm w-1/2">
                <div class="flex flex-row">
                    {% if notification.importance == 0 %}
                        <span>{% include 'icons/quote.html' %}</span>
                    {% endif %}
                    {% if notification.importance == 1 %}
                        <span>{% include 'icons/info.html' %}</span>
                    {% endif %}
                    {% if notification.importance == 2 %}
                        <span>{% include 'icons/warning.html' %}</span>
                    {% endif %}
                    {% if notification.importance == 3 %}
                        <span class="text-red-500">{% include 'icons/cancel.html' %}</span>
                    {% endif %}
                    &nbsp;<div>
                    <div class="font-bold">
                        {% language notification.locale %}
                            {% get_current_language_bidi as LANGUAGE_BIDI %}
                            {% get_current_language as LANGUAGE_CODE %}
                            <span dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"
                                  lang="{{ LANGUAGE_CODE }}">{{ notification.subject }}</span>
                        {% endlanguage %}
                        &nbsp;({{ notification.create_date|date }})
                    </div>
                    {% language notification.locale %}
                        {% get_current_language_bidi as LANGUAGE_BIDI %}
                        {% get_current_language as LANGUAGE_CODE %}
                        <span dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"
                              lang="{{ LANGUAGE_CODE }}">{{ notification.message }}</span>
                    {% endlanguage %}
                </div>
                </div>
            </td>
            <td class="px-5 {% if forloop.first %}pt-4{% else %}pt-2{% endif %} text-sm w-1/6 text-center">
                <div>{{ notification.max_duration|date }}</div>
            </td>
            <td class="px-5 {% if forloop.first %}pt-4{% else %}pt-2{% endif %} text-sm w-1/12 text-center">
                {% get_language_info for notification.locale as lang %}
                <div>{{ lang.name_translated }}</div>
            </td>
            <td class="px-5 {% if forloop.first %}pt-4{% else %}pt-2{% endif %} text-sm w-1/12 text-center">
                {% if notification.show_in_locale != " " %}
                    {% get_language_info for notification.show_in_locale as lang %}
                {% endif %}
                <div>{% if notification.show_in_locale != " " %}{{ lang.name_translated }}{% else %}
                    {% trans "Alle" %}{% endif %}</div>
            </td>
            <td class="px-5 {% if forloop.first %}pt-4{% else %}pt-2{% endif %} text-sm w-1/12 text-center">
                <div><label for="active"></label>
                    <input class="dark:bg-gray-800 bg-white appearance-none outline-none" id="active" type="checkbox"
                           readonly disabled {% if notification.active %}checked{% endif %}>
                </div>
            </td>
            <td class="px-5 {% if forloop.first %}pt-4{% else %}pt-2{% endif %} text-sm w-1/12">
                <a class="flex w-full cursor-default"
                   href="{% url 'notification:notification_update' notification.id %}">
                    <div class="bg-blue-500 hover:bg-blue-700 inline-flex justify-center items-center w-full text-white font-bold py-2 px-4 rounded mb-2">
                        <span>{% include 'icons/edit.html' %}</span><span
                            class="ltr:ml-2 rtl:mr-2 uppercase">{% trans "Bearbeiten" %}</span></div>
                </a>
                <a class="flex w-full cursor-default"
                   href="{% url 'notification:notification_delete' notification.id %}">
                    <div class="bg-blue-500 hover:bg-blue-700 inline-flex justify-center items-center w-full text-white font-bold py-2 px-4 rounded mb-2">
                        <span>{% include 'icons/delete.html' %}</span><span
                            class="ltr:ml-2 rtl:mr-2 uppercase">{% trans "Löschen" %}</span></div>
                </a>
            </td>
        </tr>
    {% empty %}
        <tr>
            <td class="px-5 py-5 text-sm w-full" colspan="6">
                <div class="text-lg text-center">{% trans "Keine Einträge vorhanden" %}</div>
            </td>
        </tr>
    {% endfor %}
    <tr>
        <td class="px-5 py-5 text-sm w-1/2"></td>
        <td class="px-5 py-5 text-sm w-1/6"></td>
        <td class="px-5 py-5 text-sm w-1/12"></td>
        <td class="px-5 py-5 text-sm w-1/12"></td>
        <td class="px-5 py-5 text-sm w-1/12"></td>
        <td class="px-5 py-5 text-sm w-1/12">
            <a class="flex w-full cursor-default" href="{% url 'notification:notification_create' %}">
                <div class="bg-blue-500 hover:bg-blue-700 inline-flex justify-center items-center w-full text-white font-bold py-2 px-4 rounded mb-2">
                    <span>{% include 'icons/document_add.html' %}</span><span
                        class="ltr:ml-2 rtl:mr-2 uppercase">{% trans "Neu" %}</span></div>
            </a>
        </td>
    </tr>
    </tbody>
</table>
