{% if object %}
    <div class="my-2 dark:bg-gray-800 shadow-lg dark:shadow-gray-800 acc-header {% if index == 0 %}selected{% endif %}">
        <div class="flex flex-row justify-between items-center font-semibold p-3 cursor-pointer">
            <div class="flex flex-row">
                {% if object.importance == 0 %}
                    <span>{% include 'icons/quote.html' %}</span>
                {% endif %}
                {% if object.importance == 1 %}
                    <span>{% include 'icons/info.html' %}</span>
                {% endif %}
                {% if object.importance == 2 %}
                    <span>{% include 'icons/warning.html' %}</span>
                {% endif %}
                {% if object.importance == 3 %}
                    <span class="text-red-500">{% include 'icons/cancel.html' %}</span>
                {% endif %}
                &nbsp;{{ object.subject }}&nbsp;({{ object.create_date|date }})
            </div>

            {% include 'icons/chevron_down.html' %}
        </div>
        <div class="dark:bg-gray-800 acc-content px-4 overflow-hidden h-0 ease duration-500">
            <div class="pb-4">
                {{ object.message }}
            </div>
        </div>
    </div>
{% endif %}