{% extends 'console/choose_console_base.html' %}
{% load i18n notification %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div>{% trans "Soll die folgende Benachrichtigung wirklich gelöscht werden?" %}</div>
        <div class="container mx-auto flex flex-col">
            {% notification object %}
        </div>
        <div class="flex flex-row">
            <div class="bg-blue-500 hover:bg-blue-700 inline-flex justify-center items-center text-white font-bold py-2 px-4 rounded mb-2"
                _="on click go back">
                <span class="uppercase cursor-default">{% trans "Zurück" %}</span>
            </div>
            <input class="bg-blue-500 hover:bg-blue-700 inline-flex justify-center items-center text-white font-bold py-2 px-4 rounded mb-2 ltr:ml-2 rtl:mr-2 uppercase"
                   type="submit" value="{% trans "Löschen" %}">
        </div>
    </form>
{% endblock %}