{% load i18n utils %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

<div class="app-bar-container">
    <a href="#" class="app-bar-item dropdown-toggle marker-light">
        <span class="mif-language mif-3x" data-role="hint" data-hint-text="{% trans "Sprache" %}"
              data-hint-position="bottom">
        </span>
    </a>
    <ul class="d-menu" data-role="dropdown">
        {% for lang_code, lang_name in LANGUAGES %}
            <li class="bg-blue-hover"><a href="{% translate_url lang_code %}">{{ lang_name }}</a></li>
        {% endfor %}
    </ul>
</div>