{% load i18n utils %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

<div class="dropdown">
    <div class="p-2 rounded leading-none dark:bg-black bg-blue-500 hover:bg-blue-800 dark:hover:bg-blue-800">
        {% include 'icons/language.html' %}
    </div>
    <ul class="dropdown-menu absolute hidden text-white pt-1">
        {% for lang_code, lang_name in LANGUAGES %}
            <li><a class="bg-blue-800 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap"
                            href="{% translate_url lang_code %}">{{ lang_name }}</a></li>
        {% endfor %}
    </ul>
</div>