{% load i18n %}
{% trans "Neu starten" as reboot %}
{% trans "Herunterfahren" as shutdown %}

<div class="dropdown">
    <div class="p-2 rounded-sm leading-none dark:bg-black bg-blue-500 hover:bg-blue-800 dark:hover:bg-blue-800">
        {% include 'icons/shutdown.html' %}
    </div>
    <ul class="dropdown-menu">
        <li>
            <a href="#"
               hx-trigger="confirmed"
               hx-get="{% url 'picker:reboot' %}"
               hx-swap="none"
               class="rounded-t bg-blue-800 dark:hover:bg-gray-700 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap"
               _="on click call Swal.fire({title: '{{ reboot }}', text: '{{ reboot }}', confirmButtonColor: '#3b82f6'})
                  if result.isConfirmed
                    trigger confirmed
                  end">{{ reboot }}</a>
        </li>
        <li>
            <a href="#"
               hx-trigger="confirmed"
               hx-get="{% url 'picker:shutdown' %}"
               hx-swap="none"
               class="rounded-b bg-blue-800 dark:hover:bg-gray-700 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap"
               _="on click call Swal.fire({title: '{{ shutdown }}', text: '{{ shutdown }}', confirmButtonColor: '#3b82f6'})
                  if result.isConfirmed
                    trigger confirmed
                  end">{{ shutdown }}</a>
        </li>
    </ul>
</div>
