<!DOCTYPE html>
{% load i18n utils %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% get_current_language as LANGUAGE %}
{% if LANGUAGE_BIDI %}
    <html dir="rtl" lang="{{ LANGUAGE }}">
{% else %}
    <html lang="{{ LANGUAGE }}">
{% endif %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="author" content="Simon Zigelli">
    <meta name="description" content="StagyBee Login">
    <meta name="keywords" content="StagyBee, Login">
    {% load static %}
    <link rel="shortcut icon" href="{% static 'picker/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'picker/favicon.ico' %}" type="image/x-icon">

    <link href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css?ver=@@b-version" rel="stylesheet">
    <link href="{% static 'stage/stage.css' %}" rel="stylesheet" type="text/css">
    <title>StagyBee Auto-Login Page</title>
    <script>
        function RedirectPage(element, url) {
            window.frames[element].location = url;
        }
    </script>
    <style>
        .app-bar-menu li {
            list-style: none !important;
        }
    </style>
</head>
<body class="bg-dark fg-white" onload="startTime()" id="body">
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% if LANGUAGE_BIDI %}
    {% include "stage/header_rtl.html" %}
{% else %}
    {% include "stage/header.html" %}
{% endif %}
<div class="notify-container">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
<div class="container-fluid">
    <main class="pr-1-sx pl-1-sx pr-1-md pl-1-md">
        {% block content %}
        {% endblock %}
    </main>
</div>
<footer class="fixed-bottom">
    <div class="{% if LANGUAGE_BIDI %}rtl-progress{% endif %}" id="container"></div>
</footer>
<script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
<script src="{% static 'picker/time.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.js"></script>
<script src="{% static 'stage/console_client_ws.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/progressbar.js/1.1.0/progressbar.min.js"></script>
<script>
    console_client_ws('{{ credential.congregation|escape }}');
</script>
</body>
</html>



