<!DOCTYPE html>
{% load i18n utils %}
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="author" content="Simon Zigelli">
    <meta name="description" content="StagyBee Login">
    <meta name="keywords" content="StagyBee, Login">
    {% load static %}
    <link rel="shortcut icon" href="{% static 'picker/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'picker/favicon.ico' %}" type="image/x-icon">

    <link href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css?ver=@@b-version" rel="stylesheet">
    <link href="{% static 'stage/stage.css' %}" rel="stylesheet" type="text/css">
    <title>StagyBee Auto-Login Page</title>
    <script>
        function RedirectPage(element, url) {
            window.frames[element].location = url;
        }
    </script>
    <style>
        .app-bar-menu li {
            list-style: none !important;
        }
    </style>
</head>
<body class="bg-dark fg-white" onload="startTime()" id="body">
<header class="app-bar bg-dark fg-white d-flex flex-justify-between" data-role="appbar" data-role-appbar="true">
    <div class="app-bar-container float-none">
        <div class="app-bar-item pl-4 pr-4 pt-2">
            {% if credential.touch %}
                <a onclick="RedirectPage('frame', 'https://jwconf.org/index.php?logout')"
                   href="{% url 'picker:picker' %}">
                    <span class="mif-arrow-left mif-4x" style="margin-left: 10px;"></span>
                </a>
            {% else %}
                <a href="{% url 'picker:picker' %}">
                    <span class="mif-arrow-left mif-4x" style="margin-left: 10px;"></span>
                </a>
            {% endif %}
        </div>
    </div>
    {% if not credential.touch %}
        <div class="app-bar-container ml-left">
            <span class="display1">{{ credential.display_name }}</span>
        </div>
        <div class="app-bar-container ml-auto" id="clock">
            <div class="app-bar-item pt-1 place-right"><samp><span class="text-leader" id="currentTime"></span></samp>
            </div>
        </div>
    {% endif %}
</header>
<div class="notify-container">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
<div class="container-fluid">
    <main class="pr-1-sx pl-1-sx pr-1-md pl-1-md">
        {% block content %}
        {% endblock %}
    </main>
</div>
<footer class="fixed-bottom">
    <div id="container"></div>
</footer>
<script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
<script type="text/javascript" src="{% url 'stage:javascript-catalog' %}"></script>
<script src="{% static 'picker/time.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.js"></script>
<script src="{% static 'stage/console_client_ws.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/progressbar.js/1.1.0/progressbar.min.js"></script>
<script>
    console_client_ws('{{ credential.congregation|escape }}');
</script>
</body>
</html>



