{% load i18n %}
<script>
    function next() {
        let d = document.querySelector('li.bg-blue-500');
        let s = d.nextElementSibling;
        s.dispatchEvent(new Event('click'));
    }
</script>
<button id="timer-stop" type="submit" name="action" value="timer-stop"
        class="bg-blue-500 text-white font-bold py-2 px-4 rounded inline-flex items-center {% if disabled or disabled is None %}opacity-50 cursor-not-allowed{% else %}hover:bg-blue-700{% endif %}"
        onclick="next()">
    {% include 'icons/stop.html' %}<span>{% trans "Stopp" %}</span>
</button>