{% load l10n %}
<tr>
    <td class="px-5 py-5 text-sm w-1/2">{{ time_entry.talk }}</td>
    <td class="px-5 py-5 text-sm w-1/8">{{ time_entry.start|time:"TIME_FORMAT" }}</td>
    <td class="px-5 py-5 text-sm w-1/8">{{ time_entry.stop|time:"TIME_FORMAT" }}</td>
    <td class="px-5 py-5 text-sm w-1/8">{{ time_entry.duration }}</td>
    <td class="px-5 py-5 text-sm w-1/8">{{ time_entry.display_max_duration }}</td>
    {% if "-" in time_entry.difference %}
        <td class="px-5 py-5 text-sm w-1/4">
            <div class="text-red-500">{{ time_entry.difference }}</div>
            <div class="progress-bar bg-red fg-gray"
                 style="min-height:12px;width:{{ time_entry.percentage|unlocalize }}%;"></div>
        </td>
    {% else %}
        <td class="px-5 py-5 text-sm w-1/4">
            <div class="text-blue-500">{{ time_entry.difference }}</div>
            <div class="progress-bar bg-blue"
                 style="min-height:12px;width:{{ time_entry.percentage|unlocalize }}%;"></div>
        </td>
    {% endif %}
</tr>