{% extends 'console/choose_console_base.html' %}
{% load guardian_tags notification static %}

{% block content %}
    <div class="flex flex-row mt-2">
        {% for congregation in object_list %}
            {% get_obj_perms request.user for congregation as "congregation_perms" %}
            {% if "access_console" in congregation_perms or "access_stopwatch" in congregation_perms or "access_audit_log" in congregation_perms %}
                {% include "console/console_card.html" %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block footer %}
    <footer class="sx:px-1 md:px-4 md:pb-4 sx:pb-1">
        {% notifications %}
    </footer>
{% endblock %}