{% extends 'base.html' %}
{% load static i18n %}

{% block title %}Management Console{% endblock %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'console/css/console.css' %}" type="text/css">
{% endblock %}

{% block header %}
    {% get_current_language_bidi as LANGUAGE_BIDI %}
    {% if LANGUAGE_BIDI %}
        {% include "console/header_rtl.html" %}
    {% else %}
        {% include "console/header.html" %}
    {% endif %}
{% endblock %}

{% block body_extra %}
    <script src="{% static 'js/time.js' %}"></script>
{% endblock %}