{% extends 'console/choose_console_base.html' %}
{% load i18n qr_code %}

{% block content %}
    {% get_current_language as LANGUAGE_CODE %}
    {% get_current_language_bidi as LANGUAGE_BIDI %}
    <div>
        <span class="display1">{{ credential.display_name }}</span>
    </div>
    <div {% if LANGUAGE_BIDI %}dir="rtl"{% endif %} data-role="accordion" data-one-frame="true" data-show-active="true"
         data-material="true">
        <div class="frame active">
            <div class="inherit-colors heading">{% trans "Stoppuhr" %}</div>
            <div class="content">
                <div hx-ws="connect:/ws/central_timer/{{ credential.congregation|escape }}/">
                    <div class="text-leader pt-8 pb-8" id="talk">{% trans "Aufgabe" %}&nbsp;<i><span
                            id="talk-name-caption"></span></i>
                    </div>
                    <div>
                        <table class="table">
                            <tbody>
                            <tr>
                                <th>
                                    <div>{% trans "Abgelaufen" %}</div>
                                </th>
                                <th>
                                    <div>{% trans "Übrig" %}</div>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    <div style="font-size:32px">
                                        <span style="font-family: monospace;" id="stopwatch">00:00:00</span>
                                    </div>
                                </th>
                                <th>
                                    <div style="font-size:32px">
                                        <span style="font-family: monospace;" id="remaining">00:00:00</span>
                                    </div>
                                </th>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="pt-4" hx-get="{% url 'console:workbook_today' %}" hx-trigger="load">
                        <ul style="text-align: center;">
                            <li style="display: inline-block;">
                                <span data-role="activity" data-type="ring" data-style="dark"></span>
                            </li>
                        </ul>
                    </div>

                    <form hx-ws="send:submit">
                        <div id="custom-talk" style="display: none;">
                            <div class="pt-4">
                                <label for="talk-name" class="pt-4">{% trans "Titel" %}</label>
                                <input type="text" data-role="input" data-default-value="{% trans "Titel" %}"
                                       id="talk-name" name="talk-name">
                            </div>
                            <div class="pt-4">
                                <label for="time" class="pt-4">{% trans "Stoppuhr" %}</label>
                                <input type="text" data-role="timepicker" data-size="280" data-value="00:00:00"
                                       data-hours="false" id="time" name="duration"/>
                            </div>
                        </div>
                        <div class="pt-4">
                            <button type="submit" name="action" value="timer-start" class="button"><span
                                    class="mif-play"></span>{% trans "Start" %}</button>
                            <button id="timer-stop" type="submit" name="action" value="timer-stop"
                                    class="button disabled" onclick="$('.current').next().trigger('click')">
                                <span class="mif-stop"></span>{% trans "Stopp" %}</button>
                        </div>
                        <input type="hidden" id="talk-index" name="index" value="0"/>
                    </form>
                </div>
            </div>
        </div>
        <div class="frame">
            <div class="inherit-colors heading">{% trans "Bildschirmsteuerung" %}</div>
            <div class="content">
                <table class="table" style="width:20%">
                    <tr>
                        <td>
                            <button hx-post="{% url 'console:scrim' credential.congregation %}"
                                    hx-trigger="click" hx-swap="none"
                                    class="button bg-control">{% trans "Bildschirm verdunkeln" %}</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="frame">
            <div class="inherit-colors heading">{% trans "Textnachricht" %}</div>
            <div class="content">
                <form>
                    <label for="text_message" class="pt-4">{% trans "Textnachricht" %}</label>
                    <textarea name="message" data-role="textarea" class="mt-2" id="text_message"></textarea>
                    <div hx-sse="connect:/ws/{{ LANGUAGE_CODE }}/console/{{ credential.congregation }}/ swap:message"
                         class="pt-4">
                    </div>
                    <div class="pt-4">
                        <button hx-post="{% url 'console:message' credential.congregation %}" hx-trigger="click"
                                hx-swap="none"
                                class="button bg-control">{% trans "Sende Nachricht" %}</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="frame">
            <div class="inherit-colors heading">{% trans "Livedaten" %}</div>
            <div class="content">
                <table style="width: 100%;">
                    <tbody>
                    <tr>
                        <td style="width: 75%; vertical-align: top; border-right: 1px solid;">
                            <div id="sumListeners" hx-sse="connect:/ws/extractor/{{ credential.congregation|escape }}/">
                                {% trans "Meldungen:" as sum_request_to_speak %}
                                {% trans "Zuhörer gesamt:" as sum_listeners %}
                                <table class="text-leader2" style="width: 25%">
                                    <caption style="border-bottom: 1px solid"><span
                                            class="text-leader">{% trans "Status" %}</span></caption>
                                    <tbody>
                                    <tr>
                                        <td>{{ sum_listeners }}</td>
                                        <td>
                                            <div hx-sse="swap:listeners-count"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>{{ sum_request_to_speak }}</td>
                                        <td>
                                            <div hx-sse="swap:request-to-speak-count"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>{% trans "Seit" %}</td>
                                        <td>{{ credential.since|time:"TIME_FORMAT" }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                        <td style="text-align: center; vertical-align: center; width: 25%">
                            <div>
                                {% if dark or dark == None %}
                                    {% qr_from_text timer_url dark_color="white" size=12 version=6 %}{% else %}
                                    {% qr_from_text timer_url dark_color="black" size=12 version=6 %}{% endif %}</div>
                            <div>{% trans "Link zur Stoppuhrsession" %}</div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_extra %}
    <script>
        htmx.on('htmx:afterSettle', function (evt) {
            if ('pathInfo' in evt.detail && 'finalPath' in evt.detail['pathInfo'] &&
                evt.detail['pathInfo']['finalPath'] !== undefined && evt.detail['pathInfo']['finalPath'].includes('workbook')) {
                $(`li[data-index='${$('#talk-index')[0].value}']`).trigger('click')
            }
        });
    </script>
    <script>
        function doClick(el) {
            if (arguments[0][0].dataset['caption'] === 'Benutzerdefiniert') {
                document.getElementById('custom-talk').style.display = 'block';
            } else {
                document.getElementById('custom-talk').style.display = 'none';
            }
            $('#time').data('timepicker').time('0:' + arguments[0][0].dataset['content'] + ':0');
            $('#talk-name')[0].value = arguments[0][0].dataset['caption'];
            $('#talk-index')[0].value = arguments[0][0].dataset['index'];
        }
    </script>
{% endblock %}