{% extends 'console/choose_console_base.html' %}
{% load i18n static %}

{% block content %}
    {% get_current_language as LANGUAGE_CODE %}
    {% get_current_language_bidi as LANGUAGE_BIDI %}
    <div>
        <span class="text-2xl">{{ credential.display_name }}</span>
    </div>
    <div hx-ws="connect:/ws/{{ LANGUAGE_CODE }}/console/{{ credential.congregation|escape }}/" class="flex flex-col"
         _="install AccordionClick">
        <div class="my-2 dark:bg-gray-800 shadow-lg dark:shadow-gray-800 acc-header selected">
            <div class="flex flex-row justify-between items-center font-semibold p-3 cursor-pointer">
                <span>{% trans "Stoppuhr" %}</span>
                {% include 'icons/chevron_down.html' with rotate=True %}
            </div>
            <div class="dark:bg-gray-800 acc-content px-4 overflow-hidden max-h-0 ease duration-500">
                {% include 'console/fragments/timer.html' %}
            </div>
        </div>

        <div class="my-2 dark:bg-gray-800 shadow-lg dark:shadow-gray-800 acc-header">
            <div class="flex flex-row justify-between items-center font-semibold p-3 cursor-pointer">
                <span>{% trans "Bildschirmsteuerung" %}</span>
                {% include 'icons/chevron_down.html' %}
            </div>
            <div class="dark:bg-gray-800 acc-content px-4 overflow-hidden max-h-0 ease duration-500">
                {% include 'console/fragments/scrim_control.html' %}
            </div>
        </div>

        <div class="my-2 dark:bg-gray-800 shadow-lg dark:shadow-gray-800 acc-header">
            <div class="flex flex-row justify-between items-center font-semibold p-3 cursor-pointer">
                <span>{% trans "Textnachricht" %}</span>
                {% include 'icons/chevron_down.html' %}
            </div>
            <div class="dark:bg-gray-800 acc-content px-4 overflow-hidden max-h-0 ease duration-500">
                {% include 'console/fragments/message.html' %}
            </div>
        </div>

        <div class="my-2 dark:bg-gray-800 shadow-lg dark:shadow-gray-800 acc-header">
            <div class="flex flex-row justify-between items-center font-semibold p-3 cursor-pointer">
                <span>{% trans "Livedaten" %}</span>
                {% include 'icons/chevron_down.html' %}
            </div>
            <div class="dark:bg-gray-800 acc-content px-4 overflow-hidden max-h-0 ease duration-500">
                {% include 'console/fragments/status.html' %}
            </div>
        </div>
    </div>
    <div id="talk"></div>
    <script type="text/hyperscript">
        socket Timer ws:/127.0.0.1:8000/ws/{{ LANGUAGE_CODE }}/timer/{{ credential.congregation|escape }}/
        end
    </script>

{% endblock %}

{% block _hs_extra %}
    <script type="text/hyperscript" src="{% static 'stagybee/behavior/acc_click._hs' %}"></script>
{% endblock %}