{% extends 'console/choose_console_base.html' %}
{% load i18n static %}

{% block content %}
    {% get_current_language as LANGUAGE_CODE %}
    <div>
        <span class="text-2xl">{{ credential }}</span>
    </div>
    <div hx-ext="ws" ws-connect="/ws/{{ LANGUAGE_CODE }}/timer/{{ credential.congregation|escape }}/"></div>
    <div hx-ext="ws" ws-connect="/ws/{{ LANGUAGE_CODE }}/console/{{ credential.congregation|escape }}/"
         class="flex flex-col">
        <details class="shadow-lg" name="console" open>
                    <summary>{% trans "Stoppuhr" %}</summary>
            <div id="content-1"
                 class="dark:bg-gray-800 dark:shadow-gray-800 px-8 overflow-hidden rounded-b">
                <div class="pb-4">
                    {% include 'console/fragments/timer.html' %}
                </div>
            </div>
        </details>

        <details class="shadow-lg" name="console">
                    <summary>{% trans "Bildschirmsteuerung" %}</summary>
            <div id="content-2" class="dark:bg-gray-800 dark:shadow-gray-800 px-8 overflow-hidden rounded-b">
                <div class="pb-4">
                    {% include 'console/fragments/scrim_control.html' %}
                </div>
            </div>
        </details>

        <details class="shadow-lg" name="console">
                    <summary>{% trans "Textnachricht" %}</summary>
            <div id="content-3" class="dark:bg-gray-800 dark:shadow-gray-800 px-8 overflow-hidden rounded-b">
                <div class="pb-4">
                    {% include 'console/fragments/message.html' %}
                </div>
            </div>
        </details>

        <details class="shadow-lg" name="console">
                    <summary>{% trans "Livedaten" %}</summary>
            <div id="content-4" class="dark:bg-gray-800 dark:shadow-gray-800 px-8 overflow-hidden rounded-b">
                <div class="pb-4">
                    {% include 'console/fragments/status.html' %}
                </div>
            </div>
        </details>
    </div>
    <div id="talk"></div>

{% endblock %}