{% extends 'base_header.html' %}
{% load i18n %}

{% block header_title %}StagyBee Console{% endblock %}

{% block header_link %}{% url 'console:choose_console' %}{% endblock %}

{% block header_functions %}
    {% if user.is_authenticated %}
        <span class="text-leader2 pr-1-sx pl-1-sx pr-4-md pl-4-md">
            {% blocktrans with username=user.get_short_name|default:user.get_username %}Willkommen,&nbsp;{{ username }}!{% endblocktrans %}
        </span>
    {% endif %}
    {% if archive == True %}
        {% now "Y" as year %}
        {% now "W" as week %}
        <a class="app-bar-item"
           href="{% url 'console:stopwatch:archive' pk=congregation.congregation year=year week=week %}">
            <span class="mif-history mif-3x" data-role="hint" data-hint-text="{% trans "Archiv" %}"
                  data-hint-position="bottom"></span>
        </a>
    {% endif %}
    {% if no_settings == False or no_settings == None or user.is_superuser %}
        <a class="app-bar-item" href="{% url 'settings' %}">
            <span class="mif-cog mif-3x" data-role="hint" data-hint-text="{% trans "Einstellungen" %}"
                  data-hint-position="bottom"></span>
        </a>
    {% endif %}
    {% include "menu/scheme.html" %}
    {% include "menu/language.html" %}
    <a class="app-bar-item" href="{% url 'logout' %}">
        <span class="mif-exit mif-3x" data-role="hint" data-hint-text="{% trans "Logout" %}"
              data-hint-position="bottom"></span>
    </a>
{% endblock %}