{% extends 'base_header_rtl.html' %}
{% load i18n utils %}

{% block header_title %}StagyBee Console{% endblock %}

{% block header_link %}{% url 'console:choose_console' %}{% endblock %}

{% block header_functions %}
    <div class="app-bar-container float-left pt-3">
        {% if user.is_authenticated %}
            <h6>
                {% blocktrans with username=user.get_short_name|default:user.get_username %}Willkommen, {{ username }}
                    !{% endblocktrans %}</h6>
        {% endif %}
    </div>
    {% if archive == True %}
        <div class="app-bar-container float-left">
            <div class="app-bar-item pl-4 pr-4 pt-2">
                {% now "Y" as year %}
                {% now "W" as week %}
                <a href="{% url 'console:stopwatch:archive' pk=congregation.congregation year=year week=week %}">
                    <span class="mif-history mif-3x" data-role="hint" data-hint-text="{% trans "Archiv" %}"
                          data-hint-position="bottom"></span>
                </a>
            </div>
        </div>
    {% endif %}
    {% if no_settings == False or no_settings == None or user.is_superuser %}
        <div class="app-bar-container float-left">
            <div class="app-bar-item pl-4 pr-4 pt-2">
                <a href="{% url 'settings' %}">
                    <span class="mif-cog mif-3x" data-role="hint" data-hint-text="{% trans "Einstellungen" %}"
                          data-hint-position="bottom"></span>
                </a>
            </div>
        </div>
    {% endif %}
    <div class="app-bar-container float-left">
        {% include "menu/scheme.html" %}
    </div>
    <div class="app-bar-container float-left">
        {% include "menu/language.html" %}
    </div>
    <div class="app-bar-container float-left">
        <div class="app-bar-item pl-4 pr-4 pt-2">
            <a href="{% url 'logout' %}">
                    <span class="mif-exit mif-3x" data-role="hint" data-hint-text="{% trans "Logout" %}"
                          data-hint-position="bottom"></span>
            </a>
        </div>
    </div>
{% endblock %}