{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
<table class="table">
    <thead>
    <tr>
        <th class="fg-control {% if LANGUAGE_BIDI %}text-right{% endif %}">{% trans "Alias Name" %}</th>
        <th class="fg-control {% if LANGUAGE_BIDI %}text-right{% endif %}">{% trans "Client URL" %}</th>
        <th class="fg-control {% if LANGUAGE_BIDI %}text-right{% endif %}">{% trans "Aktionen" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for knownclient in object_list %}
        <tr>
            <td>
                <div>{{ knownclient.alias }}</div>
            </td>
            <td>
                <div>{{ knownclient.uri }}</div>
            </td>
            <td>
                <a href="#"
                   onclick="StagyBee.main.shutdownDialogActions('{% trans "Herunterfahren" %}&nbsp;({{ knownclient.alias }})', '{% url 'console:known_client_shutdown' knownclient.id %}');">
                    <div class="button primary"><span class="mif-switch"></span>&nbsp;{% trans "Herunterfahren" %}</div>
                </a>
                <a href="#"
                   onclick="StagyBee.main.shutdownDialogActions('{% trans "Neu starten" %}&nbsp;({{ knownclient.alias }})', '{% url 'console:known_client_reboot' knownclient.id %}');">
                    <div class="button primary"><span class="mif-refresh"></span>&nbsp;{% trans "Neu starten" %}</div>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
