{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
<table class="table-auto w-full">
    <thead>
    <tr>
        <th class="px-5 py-3 border-b-2 w-1/2 text-center text-xs font-semibold uppercase tracking-wider">{% trans "Alias Name" %}</th>
        <th class="px-5 py-3 border-b-2 w-1/4 text-center text-xs font-semibold uppercase tracking-wider">{% trans "Client URL" %}</th>
        <th class="px-5 py-3 border-b-2 w-1/4 text-center text-xs font-semibold uppercase tracking-wider">{% trans "Aktionen" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for knownclient in object_list %}
        <tr>
            <td class="px-5 py-5 text-sm w-1/2 text-center">
                <div>{{ knownclient.alias }}</div>
            </td>
            <td class="px-5 py-5 text-sm w-1/4 text-center">
                <div>{{ knownclient.uri }}</div>
            </td>
            <td class="px-5 py-5 text-sm w-1/4">
                <button
                        hx-trigger="confirmed"
                        hx-get="{% url 'console:known_client_shutdown' knownclient.id %}"
                        hx-swap="afterend"
                        class="bg-blue-500 hover:bg-blue-700 inline-flex items-center text-white font-bold py-2 px-4 rounded mb-2"
                        _="on click call Swal.fire({
                            title: '{% trans "Herunterfahren" %}',
                            text: '{{ knownclient.alias }}',
                            showCancelButton: true,
                            confirmButtonColor: '#3b82f6'
                            })
                          if result.isConfirmed
                            trigger confirmed
                          end">
                    <span>{% include 'icons/shutdown.html' %}</span>&nbsp;{% trans "Herunterfahren" %}
                </button>
                <button
                        hx-trigger="confirmed"
                        hx-get="{% url 'console:known_client_reboot' knownclient.id %}"
                        hx-swap="afterend"
                        class="bg-blue-500 hover:bg-blue-700 inline-flex items-center text-white font-bold py-2 px-4 rounded"
                        _="on click call Swal.fire({
                            title: '{% trans "Neu starten" %}',
                            text: '{{ knownclient.alias }}',
                            showCancelButton: true,
                            confirmButtonColor: '#3b82f6'
                            })
                          if result.isConfirmed
                            trigger confirmed
                          end">
                    <span>{% include 'icons/refresh.html' %}</span>&nbsp;{% trans "Neu starten" %}
                </button>
            </td>
        </tr>
    {% empty %}
        <tr>
            <td class="px-5 py-5 text-sm w-full" colspan="3">
                <div class="text-lg text-center">{% trans "Keine Einträge vorhanden" %}</div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
