{% extends 'console/choose_console_base.html' %}
{% load i18n notification known_clients widget_tweaks static %}

{% block content %}
    {% get_available_languages as LANGUAGES %}
    <div class="container mx-auto flex flex-col"
         _="install AccordionClick"
         id="settings-main">
        {% if user.is_superuser %}
            <div class="my-2 dark:bg-gray-800 shadow-lg dark:shadow-gray-800 acc-header selected">
                <div class="dark:bg-gray-800 flex flex-row justify-between items-center font-semibold p-3 cursor-pointer">
                    <span>{% trans "Benachrichtigungen" %}</span>
                    {% include 'icons/chevron_down.html' with rotate=True %}
                </div>
                <div class="acc-content px-4 overflow-hidden max-h-0 ease duration-500">
                    {% notifications_maintain %}
                </div>
            </div>
        {% endif %}
        <div class="my-2 dark:bg-gray-800 shadow-lg dark:shadow-gray-800 acc-header {% if not user.is_superuser %}selected{% endif %}">
            <div class="dark:bg-gray-800 flex flex-row justify-between items-center font-semibold p-3 cursor-pointer">
                <span>{% trans "Bekannte Clients" %}</span>
                {% if not user.is_superuser %}
                    {% include 'icons/chevron_down.html' with rotate=True %}
                {% else %}
                    {% include 'icons/chevron_down.html' %}
                {% endif %}
            </div>
            <div class="acc-content px-4 overflow-hidden max-h-0 ease duration-500">
                {% known_clients_control %}
            </div>
        </div>
        <div class="my-2 dark:bg-gray-800 shadow-lg dark:shadow-gray-800 acc-header">
            <div class="flex flex-row justify-between items-center font-semibold p-3 cursor-pointer">
                <span>{% trans "Passwort" %}</span>
                {% include 'icons/chevron_down.html' %}
            </div>
            <div class="dark:bg-gray-800 acc-content px-4 overflow-hidden max-h-0 ease duration-500">
                <a class="flex cursor-default" href="{% url 'password_change' %}">
                    <div class="bg-blue-500 hover:bg-blue-700 inline-flex justify-center items-center text-white font-bold py-2 px-4 rounded mb-2">
                        <span class="uppercase">{% trans "Passwort ändern" %}</span></div>
                </a>
            </div>
        </div>
        <div class="my-2 dark:bg-gray-800 shadow-lg dark:shadow-gray-800 acc-header">
            <div class="flex flex-row justify-between items-center font-semibold p-3 cursor-pointer">
                <span>{% trans "Sprache" %}</span>
                {% include 'icons/chevron_down.html' %}
            </div>
            <div class="dark:bg-gray-800 acc-content px-4 overflow-hidden max-h-0 ease duration-500">
                <form method="post">
                    {% csrf_token %}
                    {{ form.locale.label_tag }}<br>
                    {{ form.locale|attr:"class:dark:bg-black mb-2" }}
                    <br>
                    <input class="bg-blue-500 hover:bg-blue-700 inline-flex items-center text-white font-bold py-2 px-4 rounded uppercase"
                           type="submit"
                           value="{% trans "Speichern" %}">
                </form>
            </div>
        </div>
        <div class="my-2 dark:bg-gray-800 shadow-lg dark:shadow-gray-800 acc-header">
            <div class="flex flex-row justify-between items-center font-semibold p-3 cursor-pointer">
                <span>{% trans "Hilfe und Rechtliches" %}</span>
                {% include 'icons/chevron_down.html' %}
            </div>
            <div class="dark:bg-gray-800 acc-content px-4 overflow-hidden max-h-0 ease duration-500">
                <ul>
                    <li><a href="https://github.com/zigellsn/StagyBee#readme">{% trans "Readme und Hilfe" %}</a></li>
                    <li><a href="https://github.com/zigellsn/StagyBee/blob/main/LICENSE">{% trans "Lizenzvertrag" %}</a>
                    </li>
                    <li><a href="https://github.com/zigellsn/StagyBee/issues/">{% trans "Probleme melden" %}</a></li>
                </ul>
                <div class="mt-2 text-xs">Copyright 2019-2021 Simon Zigelli</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block _hs_extra %}
    <script type="text/hyperscript" src="{% static 'stagybee/behavior/acc_click._hs' %}"></script>
{% endblock %}

{% block body_extra %}
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}