{% extends 'console/choose_console_base.html' %}
{% load i18n notification known_clients %}

{% block content %}
    {% get_current_language as LANGUAGE_CODE %}
    {% get_current_language_bidi as LANGUAGE_BIDI %}
    {% get_available_languages as LANGUAGES %}
    <div {% if LANGUAGE_BIDI %}dir="rtl"{% endif %} data-role="accordion" data-one-frame="true" data-show-active="true"
         data-material="true">
        {% if user.is_superuser %}
            <div class="frame active">
                <div class="inherit-colors heading">{% trans "Benachrichtigungen" %}</div>
                <div class="content">
                    {% notifications_maintain %}
                </div>
            </div>
        {% endif %}
        <div class="frame {% if not user.is_superuser %}active{% endif %}">
            <div class="inherit-colors heading">{% trans "Bekannte Clients" %}</div>
            <div class="content">
                {% known_clients_control %}
            </div>
        </div>
        <div class="frame">
            <div class="inherit-colors heading">{% trans "Passwort" %}</div>
            <div class="content">
                <a href="{% url 'password_change' %}">
                    <div class="button primary">{% trans "Passwort ändern" %}</div>
                </a>
            </div>
        </div>
        <div class="frame">
            <div class="inherit-colors heading">{% trans "Sprache" %}</div>
            <div class="content">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <br>
                    <input class="button primary" type="submit" value="{% trans "Speichern" %}">
                </form>
            </div>
        </div>
    </div>
{% endblock %}