<!DOCTYPE html>
{% load i18n utils %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% get_current_language as LANGUAGE %}
{% if LANGUAGE_BIDI %}
    <html dir="rtl" lang="{{ LANGUAGE }}">
{% else %}
    <html lang="{{ LANGUAGE }}">
{% endif %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="author" content="Simon Zigelli">
    <meta name="description" content="StagyBee Login">
    <meta name="keywords" content="StagyBee, Login">
    {% load static %}
    <link rel="shortcut icon" href="{% static 'picker/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'picker/favicon.ico' %}" type="image/x-icon">

    <link href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css?ver=@@b-version" rel="stylesheet">
    <link href="{% static 'picker/picker.css' %}" rel="stylesheet" type="text/css">
    <title>StagyBee Login</title>
    <style>
        .app-bar-menu li {
            list-style: none !important;
        }
    </style>
</head>
<body class="bg-dark fg-white" onload="startTime()">
<noscript>{% trans "Sie müssen JavaScript aktivieren, um diese App zu starten." %}</noscript>
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% if LANGUAGE_BIDI %}
    {% include "picker/header_rtl.html" %}
{% else %}
    {% include "picker/header.html" %}
{% endif %}
<div class="container-fluid">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
<div class="container-fluid">
    <main class="pr-1-sx pl-1-sx pr-1-md pl-1-md">
        {% block content %}
        {% endblock %}
    </main>
</div>
<footer class="pos-fixed fixed-bottom z-top text-small {% if LANGUAGE_BIDI %}text-left{% else %}text-right{% endif %} p-3">
    <div>
        Version: {{ version }}, Hostname: {{ hostname }}, IP-Address: {{ ip }}:{{ port }}
    </div>
</footer>
<script src="{% static 'picker/time.js' %}"></script>
<script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
<script>
    function shutdownDialogActions(dialogTitle, target) {
        Metro.dialog.create({
            title: dialogTitle,
            content: "<div>{{ confirm }}</div>",
            actions: [
                {
                    caption: "{% trans "Nein" %}",
                    cls: "js-dialog-close alert"
                },
                {
                    caption: "{% trans "Ja" %}",
                    cls: "js-dialog-close",
                    onclick: function () {
                        window.location.href = target;
                    }
                }
            ]
        });
    }
</script>
</body>
</html>