{% extends 'base.html' %}
{% load i18n notification admin_urls static %}

{% block title %}Picker{% endblock %}

{% block header %}
    {% include "picker/header.html" %}
{% endblock %}

{% block content %}
    {% if not object_list %}
        <div class="text-2xl text-center">{% trans "Keine Versammlung angelegt." %}&nbsp;<a
                href="{% url 'admin:login' %}">{% trans "Zum Anlegen hier klicken." %}</a></div>
    {% endif %}
    {% if object_list %}
        <div class="mb-8 text-lg">{% trans "Versammlung wählen" %}</div>
        <div class="flex grid grid-flow-col place-items-center gap-2 mb-20">
        {% for credential in object_list %}
            <a href="{% url 'stage:stage' credential.congregation %}"
               class="flex h-32 px-4 bg-indigo-500 hover:bg-indigo-400 text-center justify-center items-center rounded-md">
                <span>{{ credential.display_name|default:credential.congregation }}</span>
            </a>
        {% endfor %}
        </div>
    {% endif %}
    {% if show_login %}
        <div class="grid place-items-center">
            <a href="https://jwconf.org/login.php?source=index.php&"
               class="flex w-64 h-32 bg-red-500 hover:bg-red-400 text-center justify-center items-center rounded-md">
                <span>{% trans "JWConf Login Seite" %}</span>
            </a>
        </div>
    {% endif %}
{% endblock %}

{% block footer %}
    <footer class="sx:px-1 md:px-4 md:pb-4 sx:pb-1">
        {% notifications %}
        <div class="z-top text-small rtl:text-left ltr:text-right">
            Version: {{ version }}, Hostname: {{ hostname }}, IP address: {{ ip }}
        </div>
    </footer>
{% endblock %}

{% block _hs_extra %}
    <script type="text/hyperscript" src="{% static 'stagybee/behavior/accordion_click._hs' %}"></script>
{% endblock %}