{% extends 'base.html' %}
{% load static i18n notification admin_urls %}

{% block title %}Picker{% endblock %}

{% block header %}
    {% get_current_language_bidi as LANGUAGE_BIDI %}
    {% if LANGUAGE_BIDI %}
        {% include "picker/header_rtl.html" %}
    {% else %}
        {% include "picker/header.html" %}
    {% endif %}
{% endblock %}

{% block content %}
    {% if not object_list %}
        <div class="p_title text-center">{% trans "Keine Versammlung angelegt." %}&nbsp;<a href="{% url 'admin:login' %}">{% trans "Zum Anlegen hier klicken." %}</a></div>
    {% endif %}
    {% trans "Versammlung wählen" as choose_congregation %}
    <div class="tiles-grid tiles-group size-{{ size }} pos-top-center"
         {% if object_list %}data-group-title="{{ choose_congregation }}"{% endif %}>
        {% for credential in object_list %}
            <a href="{% url 'stage:stage' credential.congregation %}" data-role="tile"
               class="bg-indigo fg-white">
                <span class="pos-absolute pos-center">{{ credential.display_name }}</span>
            </a>
        {% endfor %}
        {% if show_login %}
            <a href="https://jwconf.org/login.php?source=index.php&" data-role="tile"
               class="bg-orange fg-white col-{{ col }}" data-size="wide">
                <span class="pos-absolute pos-center">{% trans "JWConf Login Seite" %}</span>
            </a>
        {% endif %}
    </div>
{% endblock %}

{% block footer %}
    <footer class="pos-fixed fixed-bottom">
        <div class="pl-3 pr-3">
            {% notifications %}
        </div>
        <div class="z-top text-small {% if LANGUAGE_BIDI %}text-left{% else %}text-right{% endif %} p-3">
            Version: {{ version }}, Hostname: {{ hostname }}, IP address: {{ ip }}
        </div>
    </footer>
{% endblock %}

{% block body_extra %}
    <script>
        function shutdownDialogActions(dialogTitle, target) {
            Metro.dialog.create({
                title: dialogTitle,
                content: "<div>{{ confirm }}</div>",
                actions: [
                    {
                        caption: "{% trans "Nein" %}",
                        cls: "js-dialog-close alert"
                    },
                    {
                        caption: "{% trans "Ja" %}",
                        cls: "js-dialog-close",
                        onclick: function () {
                            window.location.href = target;
                        }
                    }
                ]
            });
        }
    </script>
{% endblock %}