{% load i18n %}

<div class="mt-2 p-5 w-40 dark:bg-gray-800 bg-white rounded-lg shadow-xl">
    <div class="flex">
        <div>H</div>
        <select class="bg-transparent text-xl appearance-none outline-none" name="h" id="h" _="
        on load
            repeat 5 times index i
                if i is 0 then
                    set selected to ' selected'
                else
                    set selected to ''
                end
                append `<option value=&quot;${i}&quot;${selected}>${i}</option>` to me
            end">
        </select>
        <div>M</div>
        <select class="bg-transparent text-xl appearance-none outline-none" name="m" id="m" _="
        on load
            repeat 60 times index i
                if i is 10 then
                    set selected to ' selected'
                else
                    set selected to ''
                end
                append `<option value=&quot;${i}&quot;${selected}>${i}</option>` to me
            end">
        </select>
        <div>S</div>
        <select class="bg-transparent text-xl appearance-none outline-none" name="s" id="s" _="
        on load
            repeat 60 times index i
                if i is 0 then
                    set selected to ' selected'
                else
                    set selected to ''
                end
                append `<option value=&quot;${i}&quot;${selected}>${i}</option>` to me
            end">
        </select>
    </div>
</div>