{% load i18n sb_qr_code %}

<table class="table-auto w-full">
    <tbody>
    <tr>
        <td class="w-2/3 border-r-2 ltr:pr-4 rtl:pl-4">
            <div hx-ext="ws" ws-connect="/ws/{{ LANGUAGE_CODE }}/extractor/{{ credential.congregation|escape }}/listener/"
                 class="flex justify-center">
                {% trans "Meldungen:" as sum_request_to_speak %}
                {% trans "Zuhörer gesamt:" as sum_listeners %}
                <table class="table-auto w-1/2 text-lg">
                    <thead>
                    <tr>
                        <th class="px-5 py-3 border-b-2 text-center text-lg font-semibold uppercase tracking-wider"
                            colspan="2">{% trans "Status" %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="px-5 text-lg">{{ sum_listeners }}</td>
                        <td class="px-5 text-lg">
                            <div id="listener-count"></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="px-5 text-lg">{{ sum_request_to_speak }}</td>
                        <td class="px-5 text-lg">
                            <div id="request-to-speak-count"></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="px-5 text-lg">{% trans "Seit" %}</td>
                        <td class="px-5 text-lg">{{ credential.since|time:"TIME_FORMAT" }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </td>
        <td class="w-1/3">
            <div class="flex stroke-current text-black dark:text-white justify-center">
                {% qr_from_text timer_url size=12 version=6 %}
            </div>
            <div class="text-center">{% trans "Link zur Stoppuhrsession" %}</div>
        </td>
    </tr>
    </tbody>
</table>