{% load i18n %}
<ul class="p-4"
    _="on htmx:afterSwap
        for line in <li.line/> index i
            add .border-gray-400 .hover:bg-blue-300 to line
            if line@data-part is 0
                put '<strong>&nbsp;&bull;&nbsp;</strong>' at the start of line
            end
            if line@data-part is 1
                put '<strong style=&quot;color: #626262;\&quot;>&nbsp;&bull;&nbsp;</strong>' at the start of line
            end
            if line@data-part is 2
                put '<strong style=&quot;color: #9d5d07;\&quot;>&nbsp;&bull;&nbsp;</strong>' at the start of line
            end
            if line@data-part is 3
                put '<strong style=&quot;color: #942926;\&quot;>&nbsp;&bull;&nbsp;</strong>' at the start of line
            end
            set @data-index of line to i + 1
            if ( #id_talk_index@value is 0 and i is 0 ) or ( #id_talk_index@value is not 0 and #id_talk_index@value is i + 1 )
                if #id_talk_index@value is not 0
                    remove .opacity-50 .cursor-not-allowed from #timer-stop
                    add .hover:bg-blue-700 to #timer-stop
                    add .running to line
                end
                send click to line
            end
            if line@data-directions is not null
                add .has-tooltip to line
                make a <div.tooltip.mt-2.rounded.dark:shadow-gray-800.shadow-lg.p-2.dark:bg-gray-700.bg-gray-100.dark:text-white.text-black.font-light/> called tooltip
                put line@data-directions into tooltip
                put tooltip at the end of line
            end
        end
    end

    on click if event.target matches .line then
        take .bg-blue-500 from .line for event.target
        put event.target@data-content into #id_m.value
        set @value of #id_talk_name to event.target@data-caption
        set @value of #id_talk_index to event.target@data-index
        set @value of #id_talk_user to event.target@data-custom
        if event.target@data-custom is 'true' then
            show #custom-talk
            transition #custom-talk opacity to 1
        else
            transition #custom-talk opacity to 0
            hide #custom-talk
        end
        set header to the first <div.selected/>
        set content to first <div.acc-content/> in the header
        tell the first <div/> in content measure me then
            add { height: ${it.scrollHeight}px; } to content
        end
    end">
    <li><span class="italic">{% trans 'Leben-und-Dienst-Zusammenkunft' %}</span>
        <div hx-get="{% url 'console:workbook' date='today' %}?filter=talks" hx-trigger="load" hx-swap="outerHTML" hx-target="this">
            <ul class="p-4">
                <li style="text-align: center;display: inline-block;">
                    <div class="pt-4 self-center stroke-current text-purple-600 mb-8"
                         style="transform: scale(2.0);">{% include 'icons/activity_indicator.html' %}</div>
                </li>
            </ul>
        </div>
    </li>

    {% with total=times|length %}
        <li><span class="italic">{% trans 'Zusammenkunft für die Öffentlichkeit' %}</span>
            <ul class="p-4">
                <li class="line border-gray-400 hover:bg-blue-300"
                    data-caption="{% trans 'Öffentlicher Vortrag (30 Min.)' %}" data-index="{{ total|add:"1" }}"
                    data-content="30">{% trans 'Öffentlicher Vortrag (30 Min.)' %}</li>
                <li class="line border-gray-400 hover:bg-blue-300"
                    data-caption="{% trans 'Wachtturm-Studium (60 Min.)' %}" data-index="{{ total|add:"2" }}"
                    data-content="60">{% trans 'Wachtturm-Studium (60 Min.)' %}</li>
            </ul>
        </li>

        <li><span class="italic">{% trans 'Benutzerdefiniert' %}</span>
            <ul class="p-4">
                <li class="line border-gray-400 hover:bg-blue-300"
                    data-caption="{% trans 'Benutzerdefiniert' %}" data-index="{{ total|add:"3" }}"
                    data-content="10"
                    data-custom="true">{% trans 'Benutzerdefiniert' %}</li>
            </ul>
        </li>
    {% endwith %}
</ul>