{% load i18n %}
<ul class="p-4"
    _="on htmx:afterSwap
        for line in <li.line/> index i
            set @data-index of line to i + 1
            if ( #talk-index@value is 0 and i is 0 ) or ( #talk-index@value is not 0 and #talk-index@value is i + 1 )
                if #talk-index@value is not 0
                    remove .opacity-50 .cursor-not-allowed from #timer-stop
                    add .hover:bg-blue-700 to #timer-stop
                end
                send click to line
                add .running to line
            end
        end
    end

    on click if event.target matches .line then
        take .bg-blue-500 from .line for event.target
        put event.target@data-content into #m.value
        set @value of #talk-name to event.target@data-caption
        set @value of #talk-index to event.target@data-index
        set @value of #talk-user to event.target@data-custom
        if event.target@data-custom is 'true' then
            show #custom-talk
        else
            hide #custom-talk
        end
    end">
    <li>{% trans 'Leben-und-Dienst-Zusammenkunft' %}
        <div hx-get="{% url 'console:workbook' date='today' %}" hx-trigger="load" hx-swap="outerHTML">
            <ul class="p-4">
                <li style="text-align: center;display: inline-block;">
                    <div class="pt-4 self-center stroke-current text-purple-600 mb-8"
                         style="transform: scale(2.0);">{% include 'icons/activity_indicator.html' %}</div>
                </li>
            </ul>
        </div>
    </li>

    {% with total=times|length %}
        <li>{% trans 'Zusammenkunft für die Öffentlichkeit' %}
            <ul class="p-4">
                <li class="line border-gray-400 hover:bg-blue-300"
                    data-caption="{% trans 'Öffentlicher Vortrag (30 Min.)' %}" data-index="{{ total|add:"1" }}"
                    data-content="30">{% trans 'Öffentlicher Vortrag (30 Min.)' %}</li>
                <li class="line border-gray-400 hover:bg-blue-300"
                    data-caption="{% trans 'Wachtturm-Studium (60 Min.)' %}" data-index="{{ total|add:"2" }}"
                    data-content="60">{% trans 'Wachtturm-Studium (60 Min.)' %}</li>
            </ul>
        </li>

        <li>{% trans 'Benutzerdefiniert' %}
            <ul class="p-4">
                <li class="line border-gray-400 hover:bg-blue-300"
                    data-caption="{% trans 'Benutzerdefiniert' %}" data-index="{{ total|add:"3" }}"
                    data-content="10"
                    data-custom="true">{% trans 'Benutzerdefiniert' %}</li>
            </ul>
        </li>
    {% endwith %}
</ul>