{% load i18n %}

<div class="hidden">
    <div id="pb"></div>
    <div id="listeners"></div>
    <div id="activity" class="animate-pulse ltr:mr-2 rtl:ml-2"></div>
    <div id="overlay"></div>
    <div id="sum-listeners"></div>
</div>
<div class="pt-8 pb-8">
    <div id="talk-name-caption" class="flex justify-center"></div>
</div>
<div>
    <table class="table-auto flex justify-center">
        <tbody>
        <tr>
            <th class="px-9">
                <div class="text-center uppercase">{% trans "Abgelaufen" %}</div>
            </th>
            <th class="px-9">
                <div class="text-center uppercase">{% trans "Übrig" %}</div>
            </th>
        </tr>
        <tr>
            <td class="px-9">
                <div style="font-size:32px; font-family: monospace;">
                    <div id="elapsed">
                        <span>00:00:00</span>
                    </div>
                </div>
            </td>
            <td class="px-9">
                <div style="font-size:32px; font-family: monospace;">
                    <div id="remaining">
                        <span>00:00:00</span>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<label for="talk-list" class="pt-4 font-semibold">{% trans "Programm" %}</label>
{% include 'console/fragments/talks.html' %}
<form hx-post="{% url "console:stopwatch:stopwatch" pk=credential.congregation %}"
      hx-swap="none">
    <div id="custom-talk" class="px-4 pb-6" style="display: none;">
        <div class="pt-2 dark:bg-gray-800 bg-white flex">
            {% csrf_token %}
            {{ form }}
        </div>
    </div>
    <div class="flex flex-row pt-4">
        <button name="action" value="timer-start"
                class="bg-blue-500 hover:bg-blue-700 inline-flex justify-center items-center text-white font-bold py-2 px-4 rounded-sm mb-2 cursor-default"
                _="on click add .running to <li.bg-blue-500/>
                                        add .hover:bg-blue-700 .cursor-default to #timer-stop
                                        remove .opacity-50 .cursor-not-allowed from #timer-stop">
            {% include 'icons/start.html' %}<span class="ltr:ml-2 rtl:mr-2 uppercase">{% trans "Start" %}</span>
        </button>
        <button name="action" id="timer-stop" value="timer-stop"
                class="bg-blue-500 hover:bg-blue-700 opacity-50 cursor-not-allowed inline-flex justify-center items-center text-white font-bold py-2 px-4 rounded-sm mb-2 cursor-default ltr:ml-2 rtl:mr-2"
                _="on click
                       for line in <li.bg-blue-500/>
                        if line matches .running and line.nextElementSibling is not null then
                            send click to next <li.line/> from line
                        end
                    end
                    remove .running from <li.line/>
                    add .opacity-50 .cursor-not-allowed to me
                    remove .hover:bg-blue-700 .cursor-default from me">
            {% include 'icons/stop.html' %}<span class="ltr:ml-2 rtl:mr-2 uppercase">{% trans "Stopp" %}</span>
        </button>
    </div>
</form>
