{% load i18n %}
{% for workbook in workbooks %}
<ul class="workbook" lang="{{ language }}" data-date="{{ workbook.date }}">
    {% for talk in workbook.times %}
        <li class="line" data-caption="{{ talk.talk }}" data-part="{{ talk.kind }}"
            {% if talk.time %}data-content="{{ talk.time }}"{% endif %}
            {% if talk.directions %}data-directions="{{ talk.directions }}"{% endif %}>{{ talk.talk }}</li>
    {% empty %}
        <li>{% trans 'Es konnten keine passenden Programmpunkte im Arbeitsheft gefunden werden.' %}</li>
    {% endfor %}
</ul>
{% empty %}
    <div>{% trans 'Das Arbeitsheft konnte nicht geladen werden.' %}</div>
{% endfor %}
