{% extends 'base.html' %}
{% load static i18n %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

{% block title %}{% trans "Stoppuhr" %}{% endblock %}

{% block header %}
    {% get_current_language_bidi as LANGUAGE_BIDI %}
    {% if LANGUAGE_BIDI %}
        {% include "console/header_rtl.html" %}
    {% else %}
        {% include "console/header.html" %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="pl-4 pr-4">
        <div><h4>{{ congregation.display_name }}</h4></div>
        <div class="pt-4">
            <h1>{% trans "Kalenderwoche" %} {{ week|date:'W' }}</h1>
        </div>
        <div class="pt-4">
            {% if previous_week %}
                <a href="{% url 'console:stopwatch:archive' pk=congregation.congregation year=previous_week|date:"Y" week=previous_week|date:"W" %}">
                    {% trans "Vorherige KW:" %} {{ previous_week|date:"W" }}, {% trans "Jahr" %} {{ previous_week|date:"Y" }}
                </a>
            {% endif %}
            {% if previous_week and next_week %}--{% endif %}
            {% if next_week %}
                <a href="{% url 'console:stopwatch:archive' pk=congregation.congregation year=next_week|date:"Y" week=next_week|date:"W" %}">
                    {% trans "Nächste KW:" %} {{ next_week|date:"W" }}, {% trans "Jahr" %} {{ next_week|date:"Y" }}
                </a>
            {% endif %}
        </div>
        <div class="pt-4">
            <table class="table" data-show-search="false" data-show-pagination="false"
                   data-show-table-info="false" data-show-activity="false" data-show-rows-steps="false"
                   data-empty-table-title="">
                <thead>
                <tr>
                    <th class="{% if LANGUAGE_BIDI %}text-right{% endif %}">{% trans "Aufgabe" %}</th>
                    <th class="{% if LANGUAGE_BIDI %}text-right{% endif %}">{% trans "Startzeit" %}</th>
                    <th class="{% if LANGUAGE_BIDI %}text-right{% endif %}">{% trans "Endezeit" %}</th>
                    <th class="{% if LANGUAGE_BIDI %}text-right{% endif %}">{% trans "Dauer" %}</th>
                    <th class="{% if LANGUAGE_BIDI %}text-right{% endif %}">{% trans "Maximale Dauer" %}</th>
                    <th class="{% if LANGUAGE_BIDI %}text-right{% endif %}">{% trans "Differenz" %}</th>
                </tr>
                </thead>
                <tbody>
                {% for time_entry in object_list %}
                    <tr>
                        <td>{{ time_entry.talk }}</td>
                        <td>{{ time_entry.start|time }}</td>
                        <td>{{ time_entry.stop|time }}</td>
                        <td>{{ time_entry.duration }}</td>
                        <td>{{ time_entry.display_max_duration }}</td>
                        {% if "-" in time_entry.difference %}
                            <td class="fg-red">{{ time_entry.difference }}
                                &nbsp;<div id="bar" data-percentage="{{ time_entry.percentage }}"></div>
                            </td>
                        {% else %}
                            <td class="fg-blue">{{ time_entry.difference }}
                                &nbsp;<div id="bar" data-percentage="{{ time_entry.percentage }}"></div>
                            </td>
                        {% endif %}
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="6">
                            <div class="p_title text-center">{% trans "Keine Einträge vorhanden" %}</div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block body_extra %}
    <script>
        StagyBee.main.bar('bar');
    </script>
{% endblock %}