{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Stoppuhr" %}{% endblock %}

{% block header %}
    {% include "console/header.html" %}
{% endblock %}

{% block content %}
    <div>
        <span class="display1">{{ congregation.display_name }}</span>
        <span class="text-leader pt-8 pb-8" id="talk">{% trans "Aufgabe" %}&nbsp;<i><span id="talk_number">{{ talk }}</span></i></span>
        <table class="table">
            <thead>
            <tr>
                <th class="fg-control">
                    <div class="text-center">{% trans "Abgelaufen" %}</div>
                </th>
                <th class="fg-control">
                    <div class="text-center">{% trans "Übrig" %}</div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>
                    <div class="pt-4">
                        <samp style="font-size:72px" id="stopwatch">00:00:00</samp>
                    </div>
                </th>
                <th>
                    <div class="pt-4">
                        <samp style="font-size:72px" id="remaining">00:00:00</samp>
                    </div>
                </th>
            </tr>
            </tbody>
        </table>
        <div class="pt-4">
            <table class="table" data-show-search="false" data-show-pagination="false"
                   data-show-table-info="false" data-show-activity="false" data-show-rows-steps="false"
                   data-empty-table-title="">
                <thead>
                <tr>
                    <th class="fg-control {% if LANGUAGE_BIDI %}text-right{% endif %}">{% trans "Aufgabe" %}</th>
                    <th class="fg-control {% if LANGUAGE_BIDI %}text-right{% endif %}">{% trans "Startzeit" %}</th>
                    <th class="fg-control {% if LANGUAGE_BIDI %}text-right{% endif %}">{% trans "Endezeit" %}</th>
                    <th class="fg-control {% if LANGUAGE_BIDI %}text-right{% endif %}">{% trans "Dauer" %}</th>
                    <th class="fg-control {% if LANGUAGE_BIDI %}text-right{% endif %}">{% trans "Maximale Dauer" %}</th>
                    <th class="fg-control {% if LANGUAGE_BIDI %}text-right{% endif %}">{% trans "Differenz" %}</th>
                </tr>
                </thead>
                <tbody>
                {% for time_entry in object_list %}
                    <tr>
                        <td>{{ time_entry.talk }}</td>
                        {#                        <td>{% blocktrans with start=time_entry.start|time:"H:i:s" %}{{ start }}&nbsp;Uhr{% endblocktrans %}</td>#}
                        {#                        <td>{% blocktrans with stop=time_entry.stop|time:"H:i:s" %}{{ stop }}&nbsp;Uhr{% endblocktrans %}</td>#}
                        <td>{{ time_entry.start|time:"TIME_FORMAT" }}</td>
                        <td>{{ time_entry.stop|time:"TIME_FORMAT" }}</td>
                        <td>{{ time_entry.duration }}</td>
                        <td>{{ time_entry.display_max_duration }}</td>
                        {% if "-" in time_entry.difference %}
                            <td class="fg-red">{{ time_entry.difference }}
                                &nbsp;<div id="bar" data-percentage="{{ time_entry.percentage }}"></div>
                            </td>
                        {% else %}
                            <td class="fg-blue">{{ time_entry.difference }}
                                &nbsp;<div id="bar" data-percentage="{{ time_entry.percentage }}"></div>
                            </td>
                        {% endif %}
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="6">
                            <div class="p_title text-center">{% trans "Keine Einträge vorhanden" %}</div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block body_extra %}
    <script>
        StagyBee.main.timer_ws('{{ congregation.congregation|escape }}', true, false);
        StagyBee.main.bar('bar');
    </script>
{% endblock %}