{% extends 'base.html' %}
{% load i18n l10n %}

{% block title %}{% trans "Stoppuhr" %}{% endblock %}

{% block header %}
    {% include "console/header.html" %}
{% endblock %}

{% block content %}
    <div hx-ws="connect:/ws/central_timer/{{ congregation.congregation|escape }}/">
        <span class="text-2xl">{{ congregation.display_name }}</span>
        <div class="text-leader pt-8 pb-8" id="talk">{% trans "Aufgabe" %}&nbsp;<i><span id="talk-name-caption"></span></i>
        </div>
        <table class="table-auto">
            <thead>
            <tr>
                <th class="fg-control">
                    <div class="text-center">{% trans "Abgelaufen" %}</div>
                </th>
                <th class="fg-control">
                    <div class="text-center">{% trans "Übrig" %}</div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>
                    <div class="pt-4" style="font-size:72px;">
                        <span style="font-family: monospace;" id="stopwatch">00:00:00</span>
                    </div>
                </th>
                <th>
                    <div class="pt-4" style="font-size:72px;">
                        <span style="font-family: monospace;" id="remaining">00:00:00</span>
                    </div>
                </th>
            </tr>
            </tbody>
        </table>
        <div class="pt-4">
            <table class="table-auto">
                <thead>
                <tr>
                    <th class="px-5 py-3 border-b-2 text-center text-xs font-semibold uppercase tracking-wider">{% trans "Aufgabe" %}</th>
                    <th class="px-5 py-3 border-b-2 text-center text-xs font-semibold uppercase tracking-wider">{% trans "Startzeit" %}</th>
                    <th class="px-5 py-3 border-b-2 text-center text-xs font-semibold uppercase tracking-wider">{% trans "Endezeit" %}</th>
                    <th class="px-5 py-3 border-b-2 text-center text-xs font-semibold uppercase tracking-wider">{% trans "Dauer" %}</th>
                    <th class="px-5 py-3 border-b-2 text-center text-xs font-semibold uppercase tracking-wider">{% trans "Maximale Dauer" %}</th>
                    <th class="px-5 py-3 border-b-2 text-center text-xs font-semibold uppercase tracking-wider">{% trans "Differenz" %}</th>
                </tr>
                </thead>
                <tbody id="next" hx-swap-oob="beforeend">
                {% for time_entry in object_list %}
                    <tr>
                        <td class="px-5 py-5 text-sm w-2/5">{{ time_entry.talk }}</td>
                        {#                        <td>{% blocktrans with start=time_entry.start|time:"H:i:s" %}{{ start }}&nbsp;Uhr{% endblocktrans %}</td>#}
                        {#                        <td>{% blocktrans with stop=time_entry.stop|time:"H:i:s" %}{{ stop }}&nbsp;Uhr{% endblocktrans %}</td>#}
                        <td class="px-5 py-5 text-sm w-2/5">{{ time_entry.start|time:"TIME_FORMAT" }}</td>
                        <td class="px-5 py-5 text-sm w-2/5">{{ time_entry.stop|time:"TIME_FORMAT" }}</td>
                        <td class="px-5 py-5 text-sm w-2/5">{{ time_entry.duration }}</td>
                        <td class="px-5 py-5 text-sm w-2/5">{{ time_entry.display_max_duration }}</td>
                        {% if "-" in time_entry.difference %}
                            <td class="px-5 py-5 text-sm w-2/5">
                                <div class="text-red-500">{{ time_entry.difference }}</div>
                                <div class="progress-bar bg-red fg-gray" style="min-height:12px;width:{{ time_entry.percentage|unlocalize }}%;"></div>
                            </td>
                        {% else %}
                            <td class="px-5 py-5 text-sm w-2/5">
                                <div class="text-blue-500">{{ time_entry.difference }}</div>
                                <div class="progress-bar bg-blue" style="min-height:12px;width:{{ time_entry.percentage|unlocalize }}%;"></div>
                            </td>
                        {% endif %}
                    </tr>
                {% empty %}
                    <tr id="no-entries" hx-swap-oob="outerHTML">
                        <td class="px-5 py-5 text-sm w-2/5" colspan="6">
                            <div class="text-lg text-center">{% trans "Keine Einträge vorhanden" %}</div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}