{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Stoppuhr" %}{% endblock %}

{% block header %}
    {% include "console/header.html" %}
{% endblock %}

{% block content %}
    <div>
        <span class="text-2xl">{{ congregation.display_name }}</span>
        <div class="pt-4">
            <h1>{% trans "Kalenderwoche" %} {{ week|date:'W' }}</h1>
        </div>
        <div class="pt-4">
            {% if previous_week %}
                <a class="underline text-blue-500" href="{% url 'console:stopwatch:archive' pk=congregation.congregation year=previous_week|date:"Y" week=previous_week|date:"W" %}">
                    {% trans "Vorherige KW:" %} {{ previous_week|date:"W" }}, {% trans "Jahr" %} {{ previous_week|date:"Y" }}
                </a>
            {% endif %}
            {% if previous_week and next_week %}--{% endif %}
            {% if next_week %}
                <a class="underline text-blue-500" href="{% url 'console:stopwatch:archive' pk=congregation.congregation year=next_week|date:"Y" week=next_week|date:"W" %}">
                    {% trans "Nächste KW:" %} {{ next_week|date:"W" }}, {% trans "Jahr" %} {{ next_week|date:"Y" }}
                </a>
            {% endif %}
        </div>
        <div class="pt-4">
            <table class="table-auto w-full">
                <thead>
                <tr>
                    <th class="px-5 py-3 w-1/2 border-b-2 ltr:text-left rtl:text-right text-xs font-semibold uppercase tracking-wider">{% trans "Aufgabe" %}</th>
                    <th class="px-5 py-3 border-b-2 ltr:text-left rtl:text-right text-xs font-semibold uppercase tracking-wider">{% trans "Startzeit" %}</th>
                    <th class="px-5 py-3 border-b-2 ltr:text-left rtl:text-right text-xs font-semibold uppercase tracking-wider">{% trans "Endezeit" %}</th>
                    <th class="px-5 py-3 border-b-2 ltr:text-left rtl:text-right text-xs font-semibold uppercase tracking-wider">{% trans "Dauer" %}</th>
                    <th class="px-5 py-3 border-b-2 ltr:text-left rtl:text-right text-xs font-semibold uppercase tracking-wider">{% trans "Maximale Dauer" %}</th>
                    <th class="px-5 py-3 w-1/4 border-b-2 ltr:text-left rtl:text-right text-xs font-semibold uppercase tracking-wider">{% trans "Differenz" %}</th>
                </tr>
                </thead>
                <tbody>
                {% for time_entry in object_list %}
                    {% include 'stopwatch/fragments/timeentry_list_item.html' %}
                {% empty %}
                    <tr>
                        <td  class="px-5 py-5 text-sm w-full" colspan="6">
                            <div class="text-lg text-center">{% trans "Keine Einträge vorhanden" %}</div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
