<header class="bg-blue-500 dark:bg-black">
    <nav class="flex justify-between w-full text-white px-9">
        <div class="py-5 flex w-full items-center">
            <div class="p-2 rounded-sm leading-none dark:bg-black bg-blue-500 hover:bg-blue-800 dark:hover:bg-blue-800"
                _="on click go back {% if credential.touch %}go back{% endif %}">
                {% include 'icons/left.html' %}
            </div>
            <div class="flex items-center font-semibold tracking-tight text-xl ltr:ml-2 rtl:mr-2">
                {% if not credential.touch %}{{ credential }}{% endif %}</div>
        </div>

        <div class="flex items-center font-semibold font-heading">
            {% block header_functions %}
            {% endblock %}
            {% include "menu/clock.html" %}
        </div>
    </nav>
</header>