{% extends 'base.html' %}
{% load i18n %}

{% block title %}Stage{% endblock %}

{% block header %}
    {% include "stage/header.html" %}
{% endblock %}

{% block content %}
    <div hx-sse="connect:/ws/console_client/{{ credential.congregation|escape }}/">
        <div hx-sse="swap:scrim"></div>
    </div>

    <div id="alert-box" class="info-box" data-role="infobox">
        <div hx-sse="connect:/ws/console_client/{{ credential.congregation|escape }}/">
            <div hx-sse="swap:alert"></div>
        </div>
        <form id="alert-form" hx-trigger="close from:#alert-box"
              hx-post="{% url 'console:message_ack' credential.congregation %}">
            <input type="hidden" name="message" value="ACK">
        </form>
    </div>
    <div hx-sse="connect:/ws/extractor/{{ credential.congregation|escape }}/">
        <div hx-sse="swap:sum-listeners"></div>
        <div hx-sse="swap:listeners"></div>
        <div hx-sse="swap:activity"></div>
    </div>
{% endblock %}

{% block footer %}
    <footer class="fixed-bottom">
        {% if not credential.touch and credential.send_times_to_stage %}
            <div id="timer" class="wrapper">
                <div class="{% if LANGUAGE_BIDI %}rtl-progress{% endif %}" id="container">
                </div>
                <div id="timer_overlay">
                    <samp class="text-leader" id="stopwatch">00:00:00</samp>
                    <samp class="text-leader">&nbsp;|&nbsp;</samp>
                    <samp class="text-leader" id="remaining">00:00:00</samp>
                </div>
            </div>
        {% endif %}
    </footer>
{% endblock %}

{% block body_extra %}
    <script>
        htmx.on("htmx:sseMessage", function (evt) {
            if (evt.detail.type === 'alert')
                $('#alert-box').data('infobox').open();
        });
        StagyBee.main.timer_ws('{{ credential.congregation|escape }}', false, true);
    </script>
{% endblock %}