{% load static %}<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Simon Zigelli">
    <meta name="keywords" content="StagyBee, stage, control">
    <meta name="Copyright" content="Simon Zigelli"/>
    <meta name="MSSmartTagsPreventParsing" content="true"/>
    <title>Auto-Login Page | StagyBee</title>
</head>

<body>
<form action="https://jwconf.org/login.php?source=index.php&" target="frame" name="form" method="post">
    <input type="hidden" name="loginstatus" value="auth">
    <input type="hidden" name="congregation" value="{{ credential.congregation }}">
    <input type="hidden" name="username" value="{{ credential.username }}">
    <input type="hidden" name="password" value="{{ credential.password }}">
    <input type="hidden" id="login" value="Anmelden">
</form>
<script>
    document.form.submit();
</script>
</body>

</html>