{% extends 'base.html' %}
{% load i18n %}

{% block title %}Stage{% endblock %}

{% block header %}
    {% include "stage/header.html" %}
{% endblock %}

{% block content %}
    <div hx-sse="connect:/ws/console_client/{{ credential.congregation|escape }}/">
        <div hx-sse="swap:scrim"></div>
    </div>

    <div id="alert-box" class="info-box" data-role="infobox">
        <div hx-sse="connect:/ws/console_client/{{ credential.congregation|escape }}/">
            <div hx-sse="swap:alert"></div>
        </div>
        <form id="alert-form" hx-trigger="close from:#alert-box"
              hx-post="{% url 'console:message_ack' credential.congregation %}">
            <input type="hidden" name="message" value="ACK">
        </form>
    </div>
    <div hx-sse="connect:/ws/extractor/{{ credential.congregation|escape }}/">
        <div hx-sse="swap:sum-listeners"></div>
        <div hx-sse="swap:listeners"></div>
        <div hx-sse="swap:activity"></div>
    </div>
{% endblock %}

{% block footer %}
    <footer class="fixed-bottom">
        {% if not credential.touch and credential.send_times_to_stage %}
            <div id="timer" class="wrapper">
                <div class="{% if LANGUAGE_BIDI %}rtl-progress{% endif %}" id="container">
                </div>

                <div hx-ws="connect:/ws/central_timer/{{ credential.congregation|escape }}/" class="progress">
                    <div id="pb" class="progress-bar" style="width:0">
                </div>

                <div id="timer-overlay" class="text-leader">
                    <span id="stopwatch" style="font-family: monospace;">00:00:00</span>
                    <span style="font-family: monospace;">&nbsp;|&nbsp;</span>
                    <span id="remaining" style="font-family: monospace;">00:00:00</span>
                </div>
            </div>
        {% endif %}
    </footer>
{% endblock %}

{% block body_extra %}
    <script>
        htmx.on("htmx:sseMessage", function (evt) {
            if (evt.detail.type === 'alert')
                $('#alert-box').data('infobox').open();
        });
    </script>
{% endblock %}