<!DOCTYPE html>
<html lang="en">

<head>
    <title>StagyBee Auto-Login Page</title>
    <meta name="author" content="Simon Zigelli">
    <meta name="description" content="StagyBee Login">
    <meta name="keywords" content="StagyBee, Login">
    {% load static %}
    <link href="{% static 'stage/stage.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
<form action="https://jwconf.org/login.php?source=index.php&" target="frame" name="form" method="post">
    <input type="hidden" name="loginstatus" value="auth">
    <input type="hidden" name="congregation" value="{{ credential.congregation }}">
    <input type="hidden" name="username" value="{{ credential.username }}">
    <input type="hidden" name="password" value="{{ credential.password }}">
    <input type="hidden" id="login" value="Anmelden">
</form>
<script>
    document.form.submit();
</script>
</body>

</html>