{% extends 'base.html' %}
{% load i18n %}

{% block title %}Stage{% endblock %}

{% block head_extra %}
    <script>
        function RedirectPage(element, url) {
            window.frames[element].location = url;
        }
    </script>
{% endblock %}

{% block header %}
    {% include "stage/header.html" %}
{% endblock %}

{% block content %}
    {% trans "Zuhörer gesamt:" as sum_listeners %}{% trans "Meldungen:" as sum_request_to_speak %}
    <div id="sumListeners"><span class="display1">{{ sum_listeners }}&nbsp;</span><span class="display1"
                                                                                        id="sumListenersNumber"></span>
        <span class="display1">&nbsp;-&nbsp;</span>
        <span class="display1">{{ sum_request_to_speak }}&nbsp;</span><span class="display1"
                                                                            id="sumRequestToSpeakNumber"></span>
    </div>
    <div id="listeners"></div>
    {% trans "Verbindung zu Extraktor-Dienst wird aufgebaut..." as connect %}
    <div class="pos-fixed pos-center" id="activity">
        <span id="ring" class="pos-fixed pos-center" style="margin-top: -74px" data-role="activity" data-type="ring"
              data-style="dark"></span>
        <div>{{ connect }}</div>
    </div>
    {% trans "Extraktor-Dienst läuft nicht oder ist nicht erreichbar." as error_message %}
    <div class="pos-fixed pos-center" id="errorMessage" style="display:none">
        <span class="mif-cancel mif-5x fg-red pos-fixed pos-center" style="margin-top: -74px"></span>
        <div>{{ error_message }}</div>
    </div>
{% endblock %}

{% block footer %}
    <footer class="fixed-bottom">
        {% if not credential.touch and credential.send_times_to_stage %}
            <div id="timer" class="wrapper">
                <div class="{% if LANGUAGE_BIDI %}rtl-progress{% endif %}" id="container">
                </div>
                <div id="timer_overlay">
                    <samp class="text-leader" id="stopwatch">00:00:00</samp>
                    <samp class="text-leader">&nbsp;|&nbsp;</samp>
                    <samp class="text-leader" id="remaining">00:00:00</samp>
                </div>
            </div>
        {% endif %}
    </footer>
{% endblock %}

{% block body_extra %}
    <script>
        StagyBee.main.console_client_ws('{{ credential.congregation|escape }}');
        StagyBee.main.timer_ws('{{ credential.congregation|escape }}', false, true);
        StagyBee.main.stage_ws('{{ credential.congregation|escape }}', {{ credential.show_only_request_to_speak|yesno:"true,false" }});
    </script>
{% endblock %}