<!DOCTYPE html>
{% load i18n utils %}
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="author" content="Simon Zigelli">
    <meta name="description" content="JWConf Stage Login">
    <meta name="keywords" content="JWConf, Login">
    {% load static %}
    <link href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css?ver=@@b-version" rel="stylesheet">
    <link href="{% static 'login/login.css' %}" rel="stylesheet" type="text/css">
    <title>JWConf Auto-Login Page</title>
    <script>
        function RedirectPage(element, url) {
            document.getElementById(element).setAttribute("src", url);
        }
    </script>
</head>
<body class="bg-dark fg-white h-vh-100">
<div class="pos-fixed fixed-top app-bar-wrapper z-top">
    <header class="container bg-dark fg-white" data-role="appbar" data-expand="true"
            data-expand-point="md">
        {% if touch %}
            <a onclick="RedirectPage('frame', 'https://jwconf.org/index.php?logout')" href="{% url 'picker:picker' %}">
                <span class="mif-arrow-left mif-4x fg-white place-left" style="margin-left: 10px;"></span>
            </a>
        {% else %}
            <a href="{% url 'picker:picker' %}">
                <span class="mif-arrow-left mif-4x fg-white place-left" style="margin-left: 10px;"></span>
            </a>
        {% endif %}
    </header>
</div>
{% block content %}
{% endblock %}
<script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
</body>
</html>



