<!DOCTYPE html>
<html lang="en">

<head>
    <title>JWConf Auto-Login Page</title>
    <meta name="author" content="Simon Zigelli">
    <meta name="description" content="JWConf Stage Login">
    <meta name="keywords" content="JWConf, Login">
    {% load static %}
    <link href="{% static 'login/login.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
    <form action="https://jwconf.org/login.php?source=index.php&" target="frame" name="form" method="post">
        <input type="hidden" name="loginstatus" value="auth">
        <input type="hidden" name="congregation" value="{{ congregation }}">
        <input type="hidden" name="username" value="{{ username }}">
        <input type="hidden" name="password" value="{{ password }}">
        <input type="hidden" id="login" value="Anmelden">
    </form>
    <script>
        document.form.submit();
    </script>
</body>

</html>