<!DOCTYPE html>
{% extends 'login/base.html' %}
{% load i18n utils %}
{% block content %}
    <div class="container-fluid pt-20" id="listeners">
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.js"></script>
    <script>
        let congregation_ws = '{{ congregation_ws }}';
        let loc = window.location;
        let protocol = 'ws://';
        if (loc.protocol === 'https:') {
            protocol = 'wss://'
        }

        let mySocket = new ReconnectingWebSocket(`${protocol}${window.location.host}/ws/extractor/${congregation_ws}/`, '', '');
        let listeners = document.getElementById('listeners');

        mySocket.onmessage = function (e) {
            let data = JSON.parse(e.data);
            let namesHtml = '';
            for (const element of data.names) {
                let speak = '';
                let fullName = '';
                if (element.givenName === '' && element.familyName === '')
                    continue;
                else if (element.givenName === '') {
                    fullName = element.familyName;
                } else if (element.familyName === '') {
                    fullName = element.givenName;
                } else {
                    fullName = `${element.givenName} ${element.familyName}`
                }
                if (element.requestToSpeak === true) {
                    speak = 'bg-blue';
                } else {
                    speak = 'bg-gray';
                }
                namesHtml = `${namesHtml}<div class="button primary large ${speak} fg-black m-1" data-size="wide"><span class="ml-1">${fullName}</span>&nbsp;<span class="badge inline">${element.listenerCount}</span></div>`;
            }
            let new_element = document.createElement('div');
            new_element.innerHTML = namesHtml;
            listeners.innerHTML = '';
            listeners.appendChild(new_element);
        };

        mySocket.onclose = function (_) {
            console.error('Socket closed unexpectedly');
        };

    </script>
{% endblock %}