<!DOCTYPE html>
{% extends 'console/base.html' %}
{% load i18n utils %}
{% block content %}
    <div>
        <div class="row mt-2">

            {% for congregation in congregations %}
                <div class="cell-md-6">
                    <div class="more-info-box bg-green fg-white">
                        <div class="content">
                            <h3 class="text-bold mb-0">{{ congregation.display_name }}</h3>
                            <div>Since...</div>
                        </div>
                        <div class="icon">
                            <span class="mif-star-full"></span>
                        </div>
                        <a href="{% url 'console:console' congregation.congregation %}" class="more"> Zur Console ...
                            <span class="mif-arrow-right"></span></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
