<!DOCTYPE html>
{% extends 'console/choose_console_base.html' %}
{% load i18n utils %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% block content %}
    <div>
        <table class="table">
            <thead>
            <tr>
                <th class="fg-white {% if LANGUAGE_BIDI %}text-right{% endif %}">{% trans "User" %}</th>
                <th class="fg-white {% if LANGUAGE_BIDI %}text-right{% endif %}">{% trans "Nachricht" %}</th>
                <th class="fg-white {% if LANGUAGE_BIDI %}text-right{% endif %}">{% trans "Sendezeit" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for log_entry in object_list %}
                <tr>
                    <td>
                        <div>{{ log_entry.user.get_full_name|default:log_entry.user.username }}</div>
                    </td>
                    <td>
                        <div>{{ log_entry.message }}</div>
                    </td>
                    <td>
                        <div>{{ log_entry.send_time }}</div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
