{% load i18n %}
{% if listener_count is not None %}
    <div id="sum-listeners" class="flex flex-row">
        <span class="text-2xl">{% trans "Zuhörer gesamt:" %}&nbsp;</span>
        <span class="text-2xl">{{ listener_count }}</span>
        <span class="text-2xl">&nbsp;-&nbsp;</span>
        <span class="text-2xl">{% trans "Meldungen:" %}&nbsp;</span>
        <span class="text-2xl">{{ request_to_speak_count|default_if_none:0 }}</span>
    </div>
    <div id="listener-count">{{ listener_count }}</div>
    <div id="request-to-speak-count">{{ request_to_speak_count|default_if_none:0 }}</div>
{% endif %}