{% extends 'base.html' %}
{% load static i18n %}

{% block title %}Login{% endblock %}

{% block header %}
    {% get_current_language_bidi as LANGUAGE_BIDI %}
    {% if LANGUAGE_BIDI %}
        {% include "registration/header_rtl.html" %}
    {% else %}
        {% include "registration/header.html" %}
    {% endif %}
{% endblock %}

{% block content %}
    <h2>{% trans "Login" %}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="button primary mt-4" type="submit">{% trans "Login" %}</button>
    </form>
{% endblock %}
