{% extends 'base.html' %}
{% load static i18n %}

{% block title %}{% trans 'Log in' %}{% endblock %}

{% block header %}
    {% get_current_language_bidi as LANGUAGE_BIDI %}
    {% if LANGUAGE_BIDI %}
        {% include "registration/header_rtl.html" %}
    {% else %}
        {% include "registration/header.html" %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="bg-dark fg-white h2">{% trans 'Log in' %}</div>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="button primary mt-4" type="submit">{% trans 'Log in' %}</button>
    </form>

    <div>
        <a href="{% url 'password_reset' %}">{% trans 'Forgotten your password or username?' %}</a>
    </div>
{% endblock %}
