{% extends 'console/choose_console_base.html' %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="frame active container-fluid">
        <div class="h2">{{ title }}</div>
        <div class="content">
            <div>
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="fieldWrapper">
                            {{ field.errors }}
                            <div>{{ field.label_tag }}</div>
                            <div>{{ field }}</div>
                            {% if field.help_text %}
                                <p class="help">{{ field.help_text|safe }}</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <div class="pt-4"><input class="button primary" type="submit"
                                             value="{% trans 'Change my password' %}">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}