{% extends 'console/choose_console_base.html' %}
{% load i18n widget_tweaks placeholder static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="bg-red-900 dark:bg-red-900" hidden></div>
    <div class="max-w-sm mx-auto px-6 py-8 mt-10 rounded-t-md overflow-hidden shadow-lg dark:bg-gray-800 dark:shadow-gray-800">
        <div class="w-full relative">
            <div class="mb-4 text-xl text-center">{{ title }}</div>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="fieldWrapper">
                        <div class="text-red-500 mb-2">
                            {{ field.errors }}
                        </div>
                        <div class="relative">
                            {{ field|placeholder:field.label|attr:"class:dark:bg-black mb-2 w-full" }}
                            {% include 'registration/password_field.html' %}
                        </div>
                        {% if field.help_text %}
                            <div class="text-sm mb-2 border-l-2 border-r-2 border-gray-100 dark:border-gray-500 px-4">
                                <p class="help" _="on load add .list-disc .px-4 to the next <ul/> from me">{{ field.help_text|safe }}</p>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                <input class="w-full py-2 mt-4 bg-blue-500 hover:bg-blue-700 inline-flex justify-center items-center uppercase text-white font-bold py-2 px-4 rounded mb-2 cursor-default"
                       type="submit" value="{% trans 'Change my password' %}">
            </form>
        </div>
    </div>
{% endblock %}

{% block _hs_extra %}
    <script type="text/hyperscript" src="{% static 'stagybee/behavior/TogglePasswordVisibility._hs' %}"></script>
    <script type="text/hyperscript">
        on keyup from #id_new_password1
            if value of #id_new_password1 is not value of #id_new_password2
                add .bg-red-900 to #id_new_password2
                add .dark:bg-red-900 to #id_new_password2
            else
                remove .bg-red-900 from #id_new_password2
                remove .dark:bg-red-900 from #id_new_password2
            end
        end

        on keyup from #id_new_password2
            if value of #id_new_password1 is not value of #id_new_password2
                add .bg-red-900 to #id_new_password2
                add .dark:bg-red-900 to #id_new_password2
            else
                remove .bg-red-900 from #id_new_password2
                remove .dark:bg-red-900 from #id_new_password2
            end
        end
    </script>
{% endblock %}