{% if type|default:field.field.widget.input_type == 'password' %}
    <div class="absolute inset-y-0 ltr:right-0 rtl:left-0 mb-2 ltr:pr-3 rtl:pl-3 flex items-center leading-5"
         _="on load
                if {{ field.id_for_label }}@type matches 'password' then
                    show #eye
                end
            end
            on mousedown
                add [@type=text] to {{ field.id_for_label }}
                hide #eye
                show #eye_off
            end
            on mouseup from body
                add [@type=password] to {{ field.id_for_label }}
                show #eye
                hide #eye_off
            end">
        <div id="eye" style="display: none;">
            {% include 'icons/eye.html' %}
        </div>
        <div id="eye_off" style="display: none;">
            {% include "icons/eye_off.html" %}
        </div>
    </div>
{% endif %}