{% extends 'base.html' %}
{% load i18n widget_tweaks placeholder static %}

{% block title %}{{ title }}{% endblock %}

{% block header %}
    {% include "registration/header.html" %}
{% endblock %}

{% block content %}
    <div class="max-w-sm mx-auto px-6 py-8 mt-10 rounded-t-md overflow-hidden shadow-lg dark:bg-gray-800 dark:shadow-gray-800">
        <div class="w-full relative">
            <div class="mb-4 text-xl text-center">{{ title }}</div>
            {% if validlink %}

                <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

                <form method="post">{% csrf_token %}
                    <fieldset class="module aligned">
                        <div class="relative form-row field-password1">
                            <div class="text-red-500 mb-2">
                                {{ form.new_password1.errors }}
                            </div>
                            {% translate 'New password' as new %}
                            {{ form.new_password1|placeholder:new|attr:"class:dark:bg-black mb-2 w-full" }}
                            {% include 'registration/password_field.html' with type=form.new_password1.field.widget.input_type %}
                        </div>
                        <div class="relative form-row field-password2">
                            <div class="text-red-500 mb-2">
                                {{ form.new_password2.errors }}
                            </div>
                            {% translate 'Confirm password' as confirm %}
                            {{ form.new_password2|placeholder:confirm|attr:"class:dark:bg-black mb-2 w-full" }}
                            {% include 'registration/password_field.html' with type=form.new_password2.field.widget.input_type %}
                        </div>
                        <input class="w-full mt-4 py-2 bg-blue-500 hover:bg-blue-700 inline-flex justify-center items-center uppercase text-white font-bold py-2 px-4 rounded-sm mb-2 cursor-default"
                               type="submit" value="{% trans 'Change my password' %}">
                    </fieldset>
                </form>

            {% else %}

                <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

            {% endif %}
        </div>
    </div>

{% endblock %}

{% block _hs_extra %}
    <script type="text/hyperscript" src="{% static 'stagybee/behavior/TogglePasswordVisibility._hs' %}"></script>
{% endblock %}