<!DOCTYPE html>
{% load i18n utils %}
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="author" content="Simon Zigelli">
    <meta name="description" content="StagyBee Login">
    <meta name="keywords" content="StagyBee, Login">
    {% load static %}
    <link rel="shortcut icon" href="{% static 'picker/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'picker/favicon.ico' %}" type="image/x-icon">

    <link href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css?ver=@@b-version" rel="stylesheet">
    <link href="{% static 'picker/picker.css' %}" rel="stylesheet" type="text/css">
    <title>StagyBee Login</title>
    <style>
        .app-bar-menu li {
            list-style: none !important;
        }
    </style>
</head>
<body class="bg-dark fg-white" onload="startTime()">
<header class="bg-dark fg-white d-flex flex-justify-between app-bar">
    {% get_current_language as LANGUAGE_CODE %}
    {% get_available_languages as LANGUAGES %}
    {% get_language_info_list for LANGUAGES as languages %}
    {% trans "Neu starten" as reboot %}
    {% trans "Herunterfahren" as shutdown %}
    {% trans "Bist du sicher?" as confirm %}

    <div class="app-bar-container float-none">
        <div class="app-bar-item pl-4 pr-4">
            <a href="{% url 'picker:picker' %}" class="brand"><span class="display1">StagyBee</span></a>
        </div>
    </div>
    <div class="app-bar-container mega ml-auto">
        <div class="app-bar-container float-right">
            <a href="#" class="app-bar-item dropdown-toggle marker-light">
                <div class="mif-language mif-3x" data-role="hint" data-hint-text="{% trans "Sprache" %}"
                     data-hint-position="bottom"></div>
            </a>
            <ul class="d-menu p-2 bg-dark fg-white" data-role="dropdown">
                {% for lang_code, lang_name in LANGUAGES %}
                    <li class="bg-blue-hover"><a href="{% translate_url lang_code %}"><span
                            class="">{{ lang_name }}</span></a></li>
                {% endfor %}
            </ul>
        </div>
        {% if shutdown_icon %}
            <div class="app-bar-container float-right">
                <a href="#" class="app-bar-item dropdown-toggle marker-light">
                    <div class="mif-switch mif-3x" data-role="hint" data-hint-text="{{ shutdown }}"
                         data-hint-position="bottom">
                    </div>
                </a>
                <ul class="d-menu p-2 bg-dark fg-white" data-role="dropdown">
                    <li class="bg-blue-hover"><a href="#"
                                                 onclick="openDemoDialogActions('{{ reboot }}', '{% url 'picker:reboot' %}')">{{ reboot }}</a>
                    </li>
                    <li class="bg-blue-hover"><a href="#"
                                                 onclick="openDemoDialogActions('{{ shutdown }}', '{% url 'picker:shutdown' %}')">{{ shutdown }}</a>
                    </li>
                </ul>
            </div>
        {% endif %}
        <div class="app-bar-item pt-1 place-right"><samp><span class="text-leader" id="currentTime"></span></samp></div>
    </div>
</header>
<div class="container-fluid">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
<div class="container-fluid">
    <main class="pr-1-sx pl-1-sx pr-1-md pl-1-md">
        {% block content %}
        {% endblock %}
    </main>
</div>
<div class="pos-fixed fixed-bottom z-top text-small text-right p-3">
    Version: {{ version }}, Hostname: {{ hostname }}, IP-Address: {{ ip }}:{{ port }}
</div>
<script src="{% static 'picker/time.js' %}"></script>
<script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
<script>
    function openDemoDialogActions(dialogTitle, target) {
        Metro.dialog.create({
            title: dialogTitle,
            content: "<div>{{ confirm }}</div>",
            actions: [
                {
                    caption: "{% trans "Nein" %}",
                    cls: "js-dialog-close alert"
                },
                {
                    caption: "{% trans "Ja" %}",
                    cls: "js-dialog-close",
                    onclick: function () {
                        window.location.href = target;
                    }
                }
            ]
        });
    }
</script>
</body>
</html>