<!DOCTYPE html>
{% extends 'stage/base.html' %}
{% load i18n utils %}
{% block content %}
    {% load static %}
    {% trans "Verbindung zu Extraktor-Dienst wird aufgebaut..." as connect %}
    <div class="pos-fixed pos-center" id="activity">
        <div class="pos-center" data-role="activity" data-type="ring"></div>
        <div>{{ connect }}</div>
    </div>
    {% trans "Extraktor-Dienst läuft nicht oder ist nicht erreichbar." as error_message %}
    <div class="pos-fixed pos-center" id="errorMessage" style="display:none">
        <span class="pos-center mif-cancel mif-5x fg-red"></span>
        <div>{{ error_message }}</div>
    </div>
    {% trans "Zuhörer gesamt:" as sum_listeners %}
    <div id="sumListeners"><span class="display1">{{ sum_listeners }}&nbsp;</span><span class="display1"
                                                                                        id="sumListenersNumber"></span>
    </div>
    <div id="listeners"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.js"></script>
    <script src="{% static 'stage/stage_ws.js' %}"></script>
    <script>
        stage_ws('{{ congregation_ws }}');
        console_client_ws('{{ congregation_ws }}');
    </script>
{% endblock %}