<!DOCTYPE html>
<html lang="de">
{% load i18n %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="author" content="Simon Zigelli">
    <meta name="description" content="JWConf Stage Login">
    <meta name="keywords" content="JWConf, Login">
    {% load static %}
    <link href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css?ver=@@b-version" rel="stylesheet">
    <link href="{% static 'picker/tiles.css' %}" rel="stylesheet" type="text/css">
    <title>JWConf Stage Login</title>
</head>
<body class="bg-dark fg-white h-vh-100">

<div class="pos-fixed fixed-top app-bar-wrapper z-top">
    <header class="container pos-relative bg-dark fg-white" data-role="appbar" data-expand="true"
            data-expand-point="md">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        <a href="{% url 'picker' %}" class="brand no-hover fg-white-hover order-1"><h1>JWConf Stage Login</h1></a>

        <div class="app-bar-container ml-auto order-2 order-md-2">
            <ul class="app-bar-menu">
                <li>
                    <a href="#" class="app-bar-item dropdown-toggle marker-light">Sprachen</a>
                    <ul class="d-menu place-right bg-dark fg-white" data-role="dropdown">
                        {% for language in languages %}
                        <li><a href="#">{{ language.name_local }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
    </header>
</div>

<div class="container-fluid picker-screen pt-20">
    <div class="tiles-area clear">
        {% trans "Versammlung wählen" as chose_congregation %}
        <div class="tiles-grid tiles-group size-4" data-group-title="{{ chose_congregation }}">
            {% for credential in credentials %}
            <a href="{% url 'login' credential.congregation %}" data-role="tile" class="bg-indigo fg-white">
                <span class="pos-absolute pos-center">{{ credential.congregation }}</span>
            </a>
            {% endfor %}
            <a href="https://jwconf.org/login.php?source=index.php&" data-role="tile" class="bg-orange fg-white col-3"
               data-size="wide">
                <span class="pos-absolute pos-center">{% trans "JWConf Login Seite"  %}</span>
            </a>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
</body>
</html>



