{% load static i18n %}<!DOCTYPE html>
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% get_current_language as LANGUAGE_CODE %}
<html dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" lang="{{ LANGUAGE_CODE }}"
      class="{% if dark %}dark{% endif %}"
      _="on load fetch /scheme/ if it == 'dark' then add .dark to document.documentElement else remove .dark from document.documentElement end">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Simon Zigelli">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords" content="StagyBee, stage, control">
    <meta name="Copyright" content="Simon Zigelli"/>
    <meta name="MSSmartTagsPreventParsing" content="true"/>
    <meta name="msapplication-square310x310logo" content="{% static 'stagybee/img/mstile-310x310.png' %}">
    <meta name="msapplication-TileColor" content="#000000">
    <title>{% block title %}Login{% endblock %} | StagyBee</title>
    {% block link_rel_tags %}{% endblock link_rel_tags %}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'stagybee/img/apple-touch-icon-180x180.png' %}"
          type="image/png">
    <link rel="icon" sizes="96x96" href="{% static 'stagybee/img/favicon-96x96.png' %}" type="image/png">
    <link rel="shortcut icon" href="{% static 'stagybee/img/favicon-32x32.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'stagybee/css/bundle.css' %}" type="text/css">
    {% block _hs_extra %}{% endblock _hs_extra %}
    {% block head_extra %}{% endblock head_extra %}
</head>
{% block body %}
    <body _="on load js luxon.DateTime.now().setZone('system') end repeat forever js return luxon.DateTime.now().toFormat('HH:mm:ss'); end put it into #current-time wait 0.5s end"
          class="bg-white dark:bg-black text-black dark:text-white flex flex-col min-h-screen">
{% endblock %}
{% block header %}{% endblock %}
<main class="flex-auto container pt-4">
    <div>
        {% if messages %}
            <ul class="list-disc px-4">
                {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <noscript>
        <div class="text-2xl text-center pb-8">
            <div class="flex flex-row w-full justify-center items-center">
                <div class="mt-1">{% include 'icons/warning.html' %}</div>
                <div class="px-4">{% trans "Sie müssen JavaScript aktivieren, um diese App zu starten." %}</div>
                <div class="mt-1">{% include 'icons/warning.html' %}</div>
            </div>
        </div>
    </noscript>
    {% block content %}
    {% endblock %}
</main>
{% block footer %}
{% endblock %}
<script src="{% static 'stagybee/js/bundle.js' %}" type="text/javascript"></script>
<script src="{% static 'stagybee/js/hs_eventsource.js' %}" type="text/javascript"></script>
<script src="{% static 'stagybee/js/hs_socket.js' %}" type="text/javascript"></script>
<script>
    document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    })
</script>
{% if debug %}
    <script>htmx.logAll();</script>
{% endif %}
{% block body_extra %}{% endblock body_extra %}
</body>
</html>