<header class="app-bar d-flex flex-justify-between pr-4" data-role="appbar" data-role-appbar="true">
    <div class="app-bar-container float-none">
        <div class="app-bar-item pl-4 pr-4">
            <a href="{% block header_link %}{% endblock %}" class="brand"><span
                    class="display1">{% block header_title %}{% endblock %}</span></a>
        </div>
    </div>
    <div class="app-bar-container mega ml-auto">
        {% block header_functions %}
        {% endblock %}
        <div class="app-bar-item pt-1 place-left"><samp><span class="text-leader" id="currentTime"></span></samp>
        </div>
    </div>
</header>