{% load i18n %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
<header class="bg-blue-500 dark:bg-black">
    <nav class="flex justify-between w-full bg-blue dark:bg-black text-white p-4">
        <a href="{% block header_link %}{% endblock %}">
            <span class="font-semibold text-xl tracking-tight pt-1 block">{% block header_title %}{% endblock %}</span>
        </a>

        <div class="md:items-center md:w-auto flex">
            <div class="flex text-sm">
                {% block header_functions %}
                {% endblock %}
            </div>
            {% include "menu/clock.html" %}
        </div>
    </nav>
</header>

